.badges {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}

.badge {
    background-color: var(--black_dark_rgba_10);
    backdrop-filter: blur(16px);
    border-radius: 2px;
    font-size: 9px;
    line-height: 1.2;
    min-height: 13px;
    padding: 1px 3px;
    text-transform: uppercase;
    @media(min-width: $sm) {
        font-size: 10px;
        padding: 3px 5px;
    }
    @media(min-width: $fhd) {
        font-size: 11px;
        padding: 4px 6px;
    }
}