.popup {
    @include scrollbar;
    background-color: #fff;
    display: none;
    height: 100vh;
    /* For browsers that don't support CSS variables */
    height: calc(var(--1dvh, 1vh) * 100);
    /* This is the "polyfill" */
    height: 100dvh;
    overflow-y: auto;
    position: fixed;
    padding-left: var(--container_padding);
    padding-right: var(--container_padding);
    padding-bottom: 16px;
    top: 0;
    transition: transform var(--popup_animation_duration);
    width: 100%;
    z-index: 12;
    @media(min-width: $sm) {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    /*@supports (height: 100dvh) {
        height: 100dvh;
    }*/
    &--width_type_1 {
        @media(min-width: $sm) {
            width: 460px;
        }
        @media(min-width: $lg) {
            width: 500px;
        }
        @media(min-width: $fhd) {
            width: 646px;
        }
    }

    &--width_type_2 {
        @media(min-width: $lg) {
            width: 500px;
        }
        @media(min-width: $fhd) {
            width: 686px;
        }
    }

    &--width_type_3 {
        @media(min-width: $lg) {
            width: 954px;
        }
    }

    &--left {
        left: 0;
        transform: translateX(-100%);
    }

    &--right {
        left: auto;
        right: 0;
        transform: translateX(100%);
    }

    &--left_sm_to_right {
        left: 0;
        transform: translateX(-100%);
        @media(min-width: $sm) {
            left: auto;
            right: 0;
            transform: translateX(100%);
        }
    }

    &--left_sm_to_right_lg_to_left {
        left: 0;
        transform: translateX(-100%);
        @media(min-width: $sm) and (max-width: $lg - 0.02px) {
            left: auto;
            right: 0;
            transform: translateX(100%);
        }
    }

    &--sm_right_to_left {
        left: auto;
        right: 0;
        transform: translateX(100%);
        @media(min-width: $sm) {
            left: 0;
            right: auto;
            transform: translateX(-100%);
        }
    }

    &--lg_right_to_left {
        left: auto;
        right: 0;
        transform: translateX(100%);
        @media(min-width: $lg) {
            left: 0;
            right: auto;
            transform: translateX(-100%);
        }
    }

    &.is-block {
        display: block;
    }

    &--flex_column {
        //display: flex;
        flex-direction: column;

        &.is-block {
            display: flex;
        }

        .cards-slider {
            margin-top: auto;
        }
    }

    &.is-open {
        transform: translateX(0);
    }

    &__title {
        margin-top: 0 !important;
        @media(max-width: $sm - 0.02px) {
            align-items: center;
            border-bottom: 1px solid var(--gray_white);
            display: flex;
            font-size: 11px;
            font-weight: 400;
            justify-content: center;
            line-height: 1.3;
            margin-left: calc(0.02px - var(--container_padding));
            margin-right: calc(0.02px - var(--container_padding));
            margin-bottom: 24px;
            min-height: 45px;
            padding: 16px 50px;
        }
        @media(min-width: $sm) {
            padding-right: 32px;
        }

        &--swap {
            @media(min-width: $sm) {
                display: none;
            }

            & + * {
                @media(min-width: $sm) {
                    margin-top: 0;
                }
            }
        }

        &--back {
            align-items: center;
            display: flex;
            gap: 16px;
            position: relative;

            button {
                @include button-reset;
                @include active-area;
                display: block;
                height: 24px;
                position: relative;
                width: 24px;
                z-index: 1;
                @media(max-width: $sm - 0.02px) {
                    left: 16px;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                }

                & > svg {
                    position: static;
                    transform: none;
                }
            }

            svg {
                fill: var(--black_dark);
                height: 24px;
                min-width: 24px;
                width: 24px;
                @media(max-width: $sm - 0.02px) {
                    left: 16px;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }
    }

    &__closer {
        @include button-reset;
        @include active-area;
        cursor: pointer;
        height: 24px;
        left: auto;
        position: absolute;
        right: 16px;
        top: 12px;
        transition: color 0.3s;
        width: 24px;
        @include hover {
            color: var(--ocher);
        }
        @media(min-width: $sm) {
            right: 24px;
            top: 38px;
        }
        @media(min-width: $lg) {
            right: 40px;
            top: 40px;
        }

        svg {
            fill: currentColor;
            height: 24px;
            width: 24px;
        }
    }

    &__title-swapper {
        @media(min-width: $sm) {
            padding-right: 32px;
        }
    }

    &--modal {
        bottom: 0;
        border-radius: 8px 8px 0 0;
        height: auto;
        padding: 24px 8px 40px;
        top: auto;
        transform: translateY(100%);
        @media(min-width: $sm) {
            bottom: auto;
            border-radius: 8px;
            left: 50%;
            opacity: 0;
            top: 50%;
            transition: transform var(--popup_animation_duration), opacity var(--popup_animation_duration);
            transform: translate(-50%, calc(-50% + 30px));
        }

        &.is-open {
            opacity: 1;
            transform: translateY(0);
            @media(min-width: $sm) {
                transform: translate(-50%, -50%);
            }
        }

        .popup__closer {
            right: 16px;
            top: 16px;
        }

        .modal-content {
            .h2,
            h2 {
                &:first-child {
                    padding-right: 40px;
                }

                & + .h4,
                & + h4 {
                    margin-top: -8px;
                    @media(min-width: $lg) {
                        margin-top: -12px;
                    }
                }
            }
        }
    }

    &--modal_w608 {
        @media(min-width: $sm) {
            padding: 24px;
            width: 480px;
        }
        @media(min-width: $lg) {
            padding: 32px;
            width: 560px;
        }
        @media(min-width: $fhd) {
            padding: 40px;
            width: 608px;
        }
    }

    &--modal_promo {
        border-radius: 0;
        height: 100%;
        padding: 0;
        @media(min-width: $sm) {
            border-radius: 0;
            height: 100%;
            padding: 0;
        }
        @media(min-width: $md) {
            border-radius: 0;
            padding: 0;
        }
    }

    &--modal_promo_picture {
        max-width: 1024px;
        @media(min-width: $md) {
            height: 560px;
            width: 90%;
        }
        @media(min-width: $fhd) and (min-height: 760px) {
            height: 720px;
        }
        @media(min-width: $fhd) {
            max-width: 1280px;
        }

        .popup__closer {
            &::before {
                background-color: #fff;
                border-radius: 50%;
                content: '';
                height: 32px;
                left: 50%;
                position: absolute;
                top: 50%;
                transform: translate(-50%, -50%);
                width: 32px;
                z-index: 1;
            }

            svg {
                position: relative;
                z-index: 2;
            }
        }
    }

    &--modal_promo_no_picture {
        @media(min-width: $sm) {
            height: 500px;
            width: 530px;
        }
        @media(min-width: $lg) {
            height: 560px;
            width: 640px;
        }
        @media(min-width: $fhd) {
            height: 690px;
            width: 755px;
        }
    }
}

.modal-promo {
    &--picture {
        @media(min-width: $md) {
            display: flex;
            height: 100%;
        }

        .modal-promo__form {
            padding: 16px;
            @media(min-width: $sm) {
                padding: 40px;
            }
            @media(min-width: $md) {
                width: 50%;
            }
            @media(min-width: $fhd) {
                padding: 60px;
            }
        }
    }

    &--no_picture {
        @media(min-width: $sm) {
            height: 100%;
        }

        .modal-promo__form {
            @media(min-width: $sm) {
                display: flex;
                flex-direction: column;
                height: 100%;
                justify-content: center;
            }
            @media(min-width: $lg) {
                padding: 60px;
            }
            @media(min-width: $fhd) {
                padding: 60px 120px;
            }

            .h1,
            .modal-promo__text {
                @media(min-width: $sm) {
                    text-align: center;
                }
            }
        }
    }

    &__image {
        @media(min-width: $md) {
            width: 50%;
        }

        img,
        picture {
            display: block;
            width: 100%;
            @media(min-width: $md) {
                height: 100%;
            }
        }

        img {
            @media(min-width: $md) {
                object-fit: cover;
                object-position: top;
            }
        }
    }

    &__form {
        padding: 40px 16px;
        @media(min-width: $sm) {
            padding: 40px;
        }
        @media(min-width: $md) {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        @media(min-width: $fhd) {
            padding: 60px;
        }

        .h1 {
            margin-bottom: 12px;
            @media(min-width: $md) {
                font-size: 32px;
            }
            @media(min-width: $fhd) {
                font-size: 40px;
                margin-bottom: 24px;
            }
        }

        .button,
        .input-group {
            &:not(:last-child) {
                margin-bottom: 24px;
                @media(min-width: $fhd) {
                    margin-bottom: 40px;
                }
            }
        }

        .button {
            width: 100%;
        }

        .checkbox {
            align-items: flex-start;
            font-size: 13px;
            text-transform: none;
            @media(min-width: $lg) {
                font-size: 14px;
            }
            @media(min-width: $fhd) {
                font-size: 16px;
            }
        }
    }

    &__text {
        font-size: 11px;
        margin-bottom: 24px;
        text-transform: uppercase;
        @media(min-width: $lg) {
            font-size: 13px;
        }
        @media(min-width: $fhd) {
            font-size: 14px;
            margin-bottom: 40px;
        }
    }
}