.switch {
    align-items: center;
    display: flex;
    font-size: 13px;
    gap: 12px;
    position: relative;
    z-index: 1;
    @media(min-width: $fhd) {
        font-size: 16px;
    }

    input {
        position: absolute;
        height: 1px;
        overflow: hidden;
        clip: rect(0 0 0 0);
        width: 1px;

        &:checked ~ .switch__icon {
            &::after {
                background-color: var(--black_blue);
                left: calc(100% - 24px - 4px);
            }
        }
    }

    &__icon {
        background-color: var(--gray_white);
        border-radius: 16px;
        cursor: pointer;
        height: 32px;
        min-width: 56px;
        position: relative;
        transition: background-color 0.3s;
        width: 56px;
        z-index: 1;

        &::after {
            background-color: #fff;
            border-radius: 50%;
            content: '';
            height: 24px;
            left: 4px;
            position: absolute;
            top: 4px;
            transition: background-color 0.3s, left 0.3s;
            width: 24px;
        }
    }

    &__text {
        cursor: pointer;
    }

    &--type_2 {
        input {
            position: absolute;
            height: 1px;
            overflow: hidden;
            clip: rect(0 0 0 0);
            width: 1px;

            &:checked ~ .switch__icon {
                background-color: var(--black_blue);

                &::after {
                    background-color: #fff;
                }
            }
        }

        .switch__icon {
            height: 28px;
            min-width: 48px;
            width: 48px;

            &::after {
                border: 2px solid var(--gray_black);
                height: 28px;
                left: 0;
                top: 0;
                width: 28px;
            }
        }
    }
}