$xs: 480px;
$sm: 768px;
$md: 1024px;
$hd: 1280px;
$lg: 1300px;
$fhd: 1600px;

:root {
    --main-font: 'Inter', Arial, sans-serif;
    --titles-font: 'Wix Madefor Display', Arial, sans-serif;
    --black_dark: #101010;
    --black_dark_rgba_10: rgba(16, 16, 16, 0.1);
    --black_dark_rgba_40: rgba(16, 16, 16, 0.4);
    --black_dark_rgba_80: rgba(16, 16, 16, 0.8);
    --black: #4C4C4C;
    --black_gray: #6F6F6F;
    --gray_black: #A4A4A4;
    --gray: #D6D6D6;
    --gray_white: #F3F3F3;
    --black_blue: #334A55;
    --white_blue: #66787D;
    --ocher: #C38648;
    //--ocher_dark: #996939;
    --pink: #FFD1D1;
    --pink_2: #F38787;
    --error_color: #F5495E;
    --success_color: #3FA562;
    --container_padding: 8px;
    @media(min-width: $sm) {
        --container_padding: 24px;
    }
    @media(min-width: $lg) {
        --container_padding: 40px;
    }
    --popup_animation_duration: 0.5s;
    --header_animation_duration: 0.3s;
    --header_min_height: 66px;
    --container_max_width: 1920px;
    --page_content_padding_bottom: 60px;
    @media(min-width: $sm) {
        --page_content_padding_bottom: 80px;
    }
    @media(min-width: $lg) {
        --page_content_padding_bottom: 80px;
    }
    @media(min-width: $fhd) {
        --page_content_padding_bottom: 160px;
    }
    @media(min-width: $sm) {
        --header_min_height: 58px;
    }
    @media(min-width: $fhd) {
        --header_min_height: 66px;
    }
}