.auth {
    margin: auto;
    max-width: 445px;
    text-align: center;
    width: 100%;

    &__text {
        font-size: 13px;
    }

    &__form {
        &:not(:last-child) {
            margin-bottom: 24px;
        }

        .input-group {
            margin-bottom: 32px;

            & + .auth__error {
                margin-top: -22px;
                @media(min-width: $lg) {
                    margin-top: -30px;
                }
            }
        }

        .input-group__input {
            font-size: 16px;
            @media(min-width: $lg) {
                font-size: 18px;
            }
            @media(min-width: $fhd) {
                font-size: 24px;
            }
        }
    }

    &__error {
        color: var(--error_color);
        font-size: 11px;
        margin-bottom: 24px;
        @media(min-width: $lg) {
            font-size: 12px;
        }
        @media(min-width: $fhd) {
            font-size: 14px;
        }
    }

    &__recode {
        margin-bottom: 32px;
        @media(min-width: $lg) {
            margin-bottom: 40px;
        }
    }

    &__submit {
        width: 100%;
        @media(min-width: $fhd) {
            font-size: 12px;
            min-height: 44px;
        }
    }

    &__note {
        color: var(--black_gray);
        font-size: 11px;
        text-align: left;
        @media(min-width: $lg) {
            font-size: 12px;
        }
        @media(min-width: $fhd) {
            font-size: 14px;
        }

        &:not(:last-child) {
            margin-bottom: 24px;
        }

        a {
            color: var(--black_gray);
            text-decoration: underline;
        }
    }

    .checkbox {
        align-items: flex-start;
        text-transform: none;
        text-align: left;

        a {
            text-decoration: underline;
        }
    }
}