.banner {
    position: relative;
    z-index: 1;

    img,
    picture,
    video {
        display: block;
        width: 100%;
    }

    &--start {
        @media(min-width: $sm) {
            margin-top: calc(0.01px - var(--header_min_height) * 2);
        }

        .banner__inner {
            @media(min-width: $sm) {
                padding-top: calc(var(--header_min_height) * 2);
            }
        }

        &.banner--full_height {
            height: calc(100dvh - var(--header_min_height));
            @media(min-width: $sm) {
                height: calc(100dvh + var(--header_min_height));
            }
        }

        &.banner--lg_full_height {
            @media(min-width: $lg) {
                height: calc(100dvh + var(--header_min_height));
            }
        }
    }

    &--full_height {
        height: 100dvh;

        img,
        picture,
        video {
            height: 100%;
        }

        picture {
            img {
                object-fit: cover;
            }
        }

        video {
            object-fit: cover;
        }
    }

    &--mob_full_height {
        @media(max-width: $sm - 0.01px) {
            height: calc(100dvh - var(--header_min_height));
        }

        img,
        picture {
            @media(max-width: $sm - 0.01px) {
                height: 100%;
            }
        }

        picture {
            img {
                @media(max-width: $sm - 0.01px) {
                    object-fit: cover;
                }
            }
        }
    }

    &--lg_full_height {
        @media(min-width: $lg) {
            height: 100dvh;
        }

        picture {
            @media(min-width: $lg) {
                height: 100%;
            }

            img {
                @media(min-width: $lg) {
                    object-fit: cover;
                    height: 100%;
                }
            }
        }
    }

    &--shadow_top {
        &::before {
            background: linear-gradient(0, rgba(13, 13, 13, 0) 0%, #0D0D0D 100%);
            content: '';
            height: 140px;
            left: 0;
            opacity: 0.5;
            position: absolute;
            top: 0;
            width: 100%;
            z-index: 1;
            @media(min-width: $lg) {
                height: 150px;
            }
            @media(min-width: $fhd) {
                height: 240px;
            }
        }
    }

    &--shadow_bottom {
        &::after {
            background: linear-gradient(180deg, rgba(13, 13, 13, 0) 0%, #0D0D0D 100%);
            bottom: 0;
            content: '';
            height: 200px;
            left: 0;
            opacity: 0.4;
            position: absolute;
            top: auto;
            width: 100%;
            z-index: 1;
            @media(min-width: $lg) {
                height: 240px;
            }
            @media(min-width: $fhd) {
                height: 335px;
            }
        }
    }

    &--type_1 {
        h1 {
            margin-top: auto;
        }
    }

    &--type_2 {
        .banner__inner {
            @media(max-width: $sm - 0.01px) {
                padding-top: 24px;
            }

            .h2,
            h2 {
                margin-top: 0;
                @media(min-width: $sm) {
                    margin-top: auto;
                }

                br {
                    @media(min-width: $sm) {
                        display: none;
                    }
                }
            }
        }

        .breadcrumbs {
            @media(max-width: $sm - 0.01px) {
                display: none;
            }
        }

        .banner__logo {
            @media(max-width: $sm - 0.01px) {
                margin-top: auto;
                margin-bottom: auto;
            }
        }
    }

    &--type_3 {
        .banner__inner {
            padding-top: 24px;

            .h2,
            h2 {
                margin-top: auto;
                margin-bottom: 0;

                br {
                    @media(min-width: $sm) {
                        display: none;
                    }
                }
            }
        }
    }

    &--type_4 {
        .banner__inner {
            padding-bottom: 24px;
            @media(max-width: $sm - 0.01px) {
                padding-top: 24px;
            }
            @media(min-width: $sm) {
                padding-bottom: 40px;
            }
            @media(min-width: $fhd) {
                padding-bottom: 80px;
            }
        }
    }

    &__inner {
        display: flex;
        flex-direction: column;
        left: 50%;
        height: 100%;
        position: absolute;
        padding-bottom: 40px;
        top: 0;
        transform: translateX(-50%);
        width: 100%;
        z-index: 2;
        @media(min-width: $lg) {
            padding-bottom: 60px;
        }
        @media(min-width: $fhd) {
            padding-bottom: 80px;
        }

        .h1,
        .h2,
        h1,
        h2 {
            color: #fff;
            margin-bottom: 0;
            text-align: center;
        }

        .h2,
        h2 {
            margin-bottom: 16px;
        }
    }
}