.cards-slider {
    &__title {
        align-items: center;
        display: flex;
        gap: 12px;
        justify-content: space-between;
        margin-bottom: 16px;
        @media(min-width: $fhd) {
            margin-bottom: 24px;
        }

        .h2,
        h2 {
            margin-bottom: 0;
        }
    }

    &__arrows {
        display: flex;
        gap: 16px;

        .swiper-button-next,
        .swiper-button-prev {
            left: auto;
            right: auto;
        }
    }

    &__slider {
        padding-bottom: 1px;
        @media(max-width: $sm - 0.02px) {
            margin-left: calc(0.02px - var(--container_padding));
            margin-right: calc(0.02px - var(--container_padding));
        }
    }
}

.cards-slider-free {
    .swiper-slide {
        width: 200px;
        @media(min-width: $lg) {
            width: 260px;
        }
        @media(min-width: $fhd) {
            width: 296px;
        }
    }
}