.catalog-section-title-block {
    margin-bottom: 16px;
    @media(min-width: $sm) {
        margin-bottom: 24px;
        text-align: center;
    }
    @media(min-width: $lg) {
        min-height: 148px;
    }
    @media(min-width: $fhd) {
        min-height: 176px;
    }

    &--small {
        margin-bottom: 32px;
        @media(min-width: $lg) {
            margin-bottom: 64px;
            min-height: 0;
            padding-top: 20px;
        }
        @media(min-width: $fhd) {
            min-height: 0;
        }

        h1 {
            font-size: 24px;
            @media(min-width: $lg) {
                font-size: 40px;
            }

            sup {
                color: var(--gray_black);
                font-size: 16px;
                @media(min-width: $lg) {
                    font-size: 24px;
                }
            }
        }
    }

    h1 {
        margin-bottom: 0;
    }

    .h2 {
        margin-bottom: 0;
    }
}

.catalog-top {
    margin-bottom: 16px;
    @media(min-width: $lg) {
        border-bottom: 1px solid var(--gray_white);
        margin-bottom: 24px;
        min-height: 54px;
        position: sticky;
        top: 0;
        transition: top var(--header_animation_duration);
        will-change: top;
        z-index: 1;
    }
    @media(min-width: $fhd) {
        min-height: 65px;
    }

    &.is-out {
        @media(min-width: $lg) {
            top: var(--header_min_height);
        }
    }

    &__inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @media(min-width: $lg) {
            align-items: center;
            background-color: #fff;
            min-height: 54px;
            padding: 12px 0;
            transition: transform var(--header_animation_duration);
        }
        @media(min-width: $fhd) {
            min-height: 65px;
            padding-top: 16px;
            padding-bottom: 16px;
        }
    }

    &__menu {
        @media(max-width: $lg - 0.02px) {
            border-bottom: 1px solid var(--gray_white);
            min-height: 54px;
            min-width: calc(100% + var(--container_padding) * 2 - 0.02px * 2);
            margin-left: calc(0.02px - var(--container_padding));
            margin-right: calc(0.02px - var(--container_padding));
            margin-bottom: 16px;
            padding-bottom: 8px;
        }
        @media(min-width: $lg) {
            order: 2;
            max-width: calc(100% - 320px);
            margin-left: auto;
            margin-right: auto;
        }

        &.menu-is-fixed {
            @media(max-width: $lg - 0.02px) {
                border-bottom-color: transparent;
            }
        }
    }

    .filter-opener {
        @media(min-width: $lg) {
            order: 1;
        }
    }

    .sorting {
        @media(min-width: $lg) {
            order: 3;
        }
    }
}

.catalog-menu {
    font-size: 11px;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
    @media(max-width: $lg - 0.02px) {
        min-height: 44px;
        overflow-x: auto;
        padding: 8px var(--container_padding);
    }
    @media(min-width: $lg) {
        font-size: 12px;
    }
    @media(min-width: $fhd) {
        font-size: 14px;
    }

    &.is-fixed {
        @media(max-width: $lg - 0.02px) {
            background-color: #fff;
            border-bottom: 1px solid var(--gray_white);
            left: 0;
            position: fixed;
            width: 100%;
            z-index: 2;
        }
    }

    &__list {
        @include list-reset;
        display: flex;
        gap: 2px;
        @media(min-width: $lg) {
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    &__link {
        border-radius: 4px;
        display: block;
        padding: 6px 10px;
        white-space: nowrap;
        text-transform: uppercase;

        &:not(.is-active) {
            @include hover {
                color: var(--ocher);
            }
        }

        &.is-active {
            background-color: var(--black_blue);
            color: #fff;
        }
    }
}

.filter-opener {
    @include button-reset;
    @include active-area;
    align-items: center;
    cursor: pointer;
    display: flex;
    font-size: 11px;
    gap: 6px;
    position: relative;
    transition: color 0.3s;
    text-transform: uppercase;
    z-index: 1;
    @include hover {
        color: var(--ocher);
    }
    @media(min-width: $lg) {
        font-size: 12px;
        min-width: 160px;
    }
    @media(min-width: $fhd) {
        font-size: 14px;
    }

    svg {
        fill: currentColor;
        height: 24px;
        min-width: 24px;
        width: 24px;
    }
}

.sorting {
    position: relative;
    z-index: 1;

    &__opener {
        @include button-reset;
        @include active-area;
        align-items: center;
        cursor: pointer;
        display: flex;
        font-size: 11px;
        gap: 6px;
        justify-content: flex-end;
        position: relative;
        transition: color 0.3s;
        text-transform: uppercase;
        z-index: 1;
        @include hover {
            color: var(--ocher);
        }
        @media(min-width: $lg) {
            font-size: 12px;
            min-width: 160px;
        }
        @media(min-width: $fhd) {
            font-size: 14px;
        }

        &.is-active {
            svg {
                transform: rotate(180deg);
            }
        }

        svg {
            fill: currentColor;
            height: 24px;
            min-width: 24px;
            width: 24px;
        }
    }

    &__dropdown {
        background-color: #fff;
        border: 1px solid #F3F3F3;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.08);
        border-radius: 4px;
        display: none;
        left: auto;
        padding: 16px;
        position: absolute;
        right: 0;
        top: 30px;
        width: 260px;
        z-index: 1;
        @media(min-width: $fhd) {
            right: -24px;
        }

        &.is-open {
            display: block;
        }
    }
}

.catalog-grid {
    display: grid;
    gap: 24px 2px;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
    z-index: 0;
    @media(max-width: $sm - 0.02px) {
        margin-left: calc(0.02px - var(--container_padding));
        margin-right: calc(0.02px - var(--container_padding));
    }
    @media(min-width: $sm) {
        grid-template-columns: repeat(3, 1fr);
        gap: 40px 8px;
    }
    @media(min-width: $lg) {
        grid-template-columns: repeat(4, 1fr);
    }
    @media(min-width: $fhd) {
        gap: 60px 12px;
    }

    .catalog-advantage {
        @media(max-width: $sm - 0.02px) {
            display: none;
        }
    }

    .card__image {
        img {
            aspect-ratio: 3 / 4.1242;
        }
    }
}

.catalog-advantage {
    &--aspect_3_4 {
        .catalog-advantage__inner {
            aspect-ratio: 3 / 4.1242;
        }
    }

    &__inner {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    img {
        display: block;
        max-width: 48px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 16px;
        @media(min-width: $lg) {
            max-width: 56px;
            margin-bottom: 24px;
        }
    }

    .h2 {
        margin-top: 0;
        margin-bottom: 8px;
        @media(min-width: $lg) {
            margin-bottom: 16px;
        }
    }

    &__text {
        font-size: 13px;
        padding-left: 8px;
        padding-right: 8px;
        @media(min-width: $lg) {
            font-size: 14px;
            padding-left: 12px;
            padding-right: 12px;
        }
        @media(min-width: $fhd) {
            font-size: 16px;
            padding-left: 40px;
            padding-right: 40px;
        }
    }
}

.filter {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    &__section {
        &:not(:last-child) {
            margin-bottom: 24px;
            @media(min-width: $fhd) {
                margin-bottom: 32px;
            }
        }
    }

    &__buttons {
        border-top: 1px solid var(--gray_white);
        background-color: #fff;
        bottom: 0;
        display: flex;
        gap: 16px;
        margin-top: auto;
        margin-left: calc(0.02px - var(--container_padding));
        margin-right: calc(0.02px - var(--container_padding));
        padding: 12px var(--container_padding);
        position: sticky;
        top: auto;
        z-index: 1;
        @media(min-width: $sm) {
            transform: translateY(40px);
        }
        @media(min-width: $lg) {
            gap: 40px;
        }
    }

    &__reset {
        padding-left: 0;
        padding-right: 0;

        &:not(.disabled),
        &:not(:disabled),
        &:not([data-disabled]) {
            @include hover {
                background-color: #fff;
                color: var(--ocher);
            }
        }
    }

    &__apply {
        flex-grow: 1;
    }
}

.catalog-section-text {
    margin-left: auto;
    margin-right: auto;
    max-width: 854px;
    margin-top: 40px;
    @media(min-width: $lg) {
        margin-top: 60px;
    }
    @media(min-width: $fhd) {
        margin-top: 80px;
    }

    p {
        &:not(:last-child) {
            margin-bottom: 8px;
        }

        & + ol,
        & + ul {
            margin-top: 16px;
        }
    }

    ol,
    ul {
        padding-left: 24px;

        &:not(:last-child) {
            margin-bottom: 24px;
            @media(min-width: $lg) {
                margin-bottom: 32px;
            }
            @media(min-width: $fhd) {
                margin-bottom: 40px;
            }
        }
    }
}