.compare-block {
    @media(min-width: $fhd) {
        padding-top: 20px;
    }

    h1 {
        @media(min-width: $sm) {
            text-align: center;
        }
        @media(min-width: $lg) {
            font-size: 40px;
        }
        @media(min-width: $fhd) {
            margin-bottom: 80px;
        }

        sup {
            color: var(--gray_black);
            font-size: 60%;
        }
    }

    &__text {
        @media(min-width: $sm) {
            text-align: center;
        }

        a {
            text-decoration: underline;
        }
    }
}

.compare {
    user-select: none;
    @media(max-width: $sm - 0.02px) {
        margin-left: calc(0.01px - var(--container_padding));
        margin-right: calc(0.01px - var(--container_padding));
    }

    &__head {
        margin-bottom: 16px;
        padding-bottom: 16px;
        @media(min-width: $sm) {
            border-bottom: 1px solid var(--gray_white);
            display: flex;
            gap: 12px;
            padding-bottom: 24px;
        }

        &.is-fixed {
            background-color: #fff;
            border-bottom: 1px solid var(--gray_white);
            margin-bottom: 0;
            position: sticky;
            top: 0;
            z-index: 1;

            .compare__controls {
                margin-bottom: 0;
                @media(max-width: $sm - 0.02px) {
                    display: none;
                }
                @media(min-width: $sm) {
                    padding-top: 16px;
                }
            }

            .compare-card {
                padding-top: 12px;
                @media(max-width: $sm - 0.02px) {
                    display: flex;
                    gap: 8px;
                }
                @media(min-width: $sm) {
                    padding-top: 16px;
                }

                .compare-card__image {
                    height: 65px;
                    min-width: 48px;
                    margin-bottom: 0;
                    width: 48px;
                    @media(min-width: $sm) {
                        height: 95px;
                        margin-bottom: 12px;
                        width: 80px;
                    }

                    img {
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                    }
                }

                .compare-card__delete {
                    right: 4px;
                    top: 4px;
                    @media(max-width: $sm - 0.02px) {
                        display: none;
                    }
                }

                .compare-card__review-block {
                    display: none;
                }

                .compare-card__title {
                    margin-bottom: 4px;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    text-overflow: ellipsis;
                    @media(min-width: $sm) {
                        padding-right: 24px;
                    }
                }

                .compare-card__price-block {
                    margin-bottom: 0;
                }

                .compare-card__discount,
                .compare-card__old-price {
                    @media(max-width: $sm - 0.02px) {
                        display: none;
                    }
                }

                .compare-card__colors {
                    display: none;
                }
            }
        }
    }

    &__controls {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        @media(max-width: $sm - 0.02px) {
            align-items: center;
            border-bottom: 1px solid var(--gray_white);
            gap: 16px;
            flex-direction: row;
            margin-bottom: 16px;
            padding-left: 12px;
            padding-right: 12px;
            padding-bottom: 14px;
        }
        @media(min-width: $sm) {
            background-color: #fff;
            min-width: 276px;
            width: 276px;
        }

        .switch {
            @media(max-width: $sm - 0.02px) {
                margin-right: auto;
            }
        }
    }

    &__control {
        @include button-reset;
        @include active-area;
        align-items: center;
        display: flex;
        gap: 8px;
        font-size: 14px;
        height: 24px;
        justify-content: center;
        min-width: 24px;
        position: relative;
        transition: color 0.3s;
        text-transform: uppercase;
        z-index: 0;

        &:not(:last-child) {
            @media(min-width: $sm) {
                margin-bottom: 12px;
            }
        }

        span {
            @media(max-width: $sm - 0.02px) {
                display: none;
            }
        }
        @include hover {
            color: var(--ocher);
        }

        svg {
            fill: currentColor;
            height: 24px;
            width: 24px;
        }
    }

    &__controls-delimeter {
        border-bottom: 1px solid var(--gray_white);
        margin-top: 16px;
        margin-bottom: 16px;
        @media(max-width: $sm - 0.02px) {
            display: none;
        }
    }

    &__arrows {
        display: flex;
        gap: 16px;
        margin-top: auto;
        padding-top: 8px;
        @media(max-width: $sm - 0.02px) {
            display: none;
        }
    }

    &__arrow {
        @include button-reset;
        @include active-area;
        height: 24px;
        position: relative;
        transition: color 0.3s;
        width: 24px;
        z-index: 0;

        &:disabled {
            cursor: default;
            opacity: 0.2;
        }

        &:not(:disabled) {
            @include hover {
                color: var(--ocher);
            }
        }

        svg {
            fill: currentColor;
            height: 24px;
            width: 24px;
        }
    }

    &__cards {
        cursor: grab;
        display: flex;
        gap: 12px;
        overflow-x: auto;
        scrollbar-width: none;
        @media(max-width: $sm - 0.02px) {
            padding-left: 12px;
            padding-right: 12px;
        }
    }

    h2 {
        margin-top: 40px;
        @media(max-width: $sm - 0.02px) {
            display: none;
        }
    }

    &__body {
        @media(min-width: $sm) {
            display: flex;
        }
    }

    &__values {
        cursor: grab;
        flex-grow: 1;
        overflow-x: auto;
        scrollbar-width: none;
    }

    &__values-title {
        background-color: #fff;
        font-size: 14px;
        min-width: 288px;
        width: 288px;
        @media(max-width: $sm - 0.02px) {
            display: none;
        }

        & > div {
            align-items: center;
            border-bottom: 1px solid var(--gray_white);
            display: flex;
            height: 38px;
        }
    }

    &__value {
        display: flex;
        font-size: 11px;
        height: 48px;
        @media(max-width: $sm - 0.02px) {
            padding-top: 24px;
        }
        @media(min-width: $sm) {
            font-size: 14px;
            height: 38px;
            position: relative;
        }

        & > div {
            align-items: center;
            border-bottom: 1px solid var(--gray_white);
            display: flex;
            min-width: 172px;
            width: 172px;
            @media(min-width: $sm) {
                min-width: 288px;
                width: 288px;
            }
            @media(max-width: $sm - 0.02px) {
                padding-left: 12px;
            }

            &:first-child {
                left: 0;
                position: absolute;
                @media(min-width: $sm) {
                    display: none;
                }
                @media(max-width: $sm - 0.02px) {
                    color: var(--gray_black);
                    border-bottom: none;
                    margin-top: -20px;
                    width: 100%;
                }
            }

            &:last-child {
                flex-grow: 1;
                min-width: 184px;
                width: 184px;
                @media(min-width: $sm) {
                    min-width: 276px;
                    width: 276px;
                }
            }
        }
    }
}

.compare-card {
    min-width: 160px;
    width: 160px;
    @media(min-width: $sm) {
        min-width: 276px;
        width: 276px;
    }

    &__image {
        margin-bottom: 8px;
        position: relative;
        z-index: 0;
        @media(min-width: $sm) {
            margin-bottom: 16px;
        }

        a {
            border-radius: 4px;
            display: block;
            overflow: hidden;
            @include hover {
                img {
                    transform: scale(1.02);
                }
            }
        }

        img {
            border-radius: 4px;
            display: block;
            transition: transform 0.3s;
            transform: scale(1);
            width: 100%;
        }
    }

    &__delete {
        @include button-reset;
        @include active-area;
        height: 18px;
        left: auto;
        position: absolute;
        right: 6px;
        top: 6px;
        transition: color 0.3s;
        width: 18px;
        @include hover {
            color: var(--ocher);
        }
        @media(min-width: $sm) {
            height: 24px;
            right: 12px;
            top: 12px;
            width: 24px;
        }

        svg {
            fill: currentColor;
            height: 18px;
            width: 18px;
            @media(min-width: $sm) {
                height: 24px;
                width: 24px;
            }
        }
    }

    &__review-block {
        display: flex;
        flex-wrap: wrap;
        font-size: 11px;
        gap: 6px;
        @media(min-width: $sm) {
            font-size: 14px;
            gap: 8px;
        }

        &:not(:last-child) {
            margin-bottom: 4px;
            @media(min-width: $sm) {
                margin-bottom: 8px;
            }
        }
    }

    &__review {
        align-items: center;
        display: flex;
        gap: 3px;
        text-decoration: none;

        svg {
            height: 12px;
            min-width: 12px;
            width: 12px;
            @media(min-width: $sm) {
                height: 16px;
                min-width: 16px;
                width: 16px;
            }
        }

        &--rating {
            svg {
                fill: #F09F32;
            }
        }

        &--review {
            color: #7C7C7C;

            svg {
                fill: #B3B3B3;
                transition: fill 0.3s;
            }
            @include hover {
                svg {
                    fill: var(--ocher);
                }
            }

            span {
                & > span {
                    @media(max-width: $sm - 0.02px) {
                        display: none;
                    }
                }
            }
        }
    }

    &__review-delimeter {
        background-color: #B3B3B3;
        display: block;
        height: 14px;
        width: 1px;
        @media(min-width: $sm) {
            height: 18px;
        }
    }

    &__stock {
        align-items: center;
        display: flex;
        gap: 3px;
        font-size: 11px;
        @media(min-width: $sm) {
            font-size: 14px;
            gap: 4px;
        }

        &--in_stock {
            color: #2ABC3B;
        }

        &::before {
            background-color: currentColor;
            border-radius: 50%;
            content: '';
            height: 6px;
            min-width: 6px;
            margin-top: 1px;
            width: 6px;
            @media(min-width: $sm) {
                height: 8px;
                min-width: 8px;
                width: 8px;
            }
        }
    }

    &__title {
        font-size: 11px;
        margin-bottom: 4px;
        @media(min-width: $sm) {
            font-size: 14px;
            margin-bottom: 8px;
        }
    }

    &__price-block {
        align-items: center;
        font-size: 11px;
        display: flex;
        flex-wrap: wrap;
        gap: 6px;
        white-space: nowrap;
        @media(min-width: $sm) {
            font-size: 14px;
        }

        &:not(:last-child) {
            margin-bottom: 0;
            @media(min-width: $sm) {
                margin-bottom: 8px;
            }
        }
    }

    &__price {
        font-weight: 600;
    }

    &__old-price {
        color: var(--gray_black);
        text-decoration: line-through;
    }

    &__discount {
        background-color: var(--pink);
        border-radius: 2px;
        font-size: 9px;
        font-weight: 600;
        line-height: 1.22222;
        padding: 2px;
        @media(min-width: $sm) {
            font-size: 11px;
            padding: 2px 3px;
        }
    }

    &__colors {
        display: flex;
        flex-wrap: wrap;
        gap: 6px;
        @media(max-width: $sm - 0.02px) {
            display: none;
        }
    }

    &__color {
        border-radius: 50%;
        display: block;
        height: 12px;
        min-width: 12px;
        width: 12px;
    }
}