.page--new_main {
    @media(max-width: $md - 0.02px) {
        height: 100%;
    }

    .header {
        background-color: transparent;
        border-bottom: 1px solid rgba(#fff, 0.12);
        color: #fff;
        left: 0;
        position: fixed;
        right: 0;
        transition: transform var(--header_animation_duration);

        &--white {
            @media(min-width: $sm) {
                background-color: #fff;
                color: var(--black_dark);
            }
        }
    }

    .footer {
        @media(max-width: $md - 0.02px) {
            display: none;
        }
    }

    #app,
    .page__content {
        @media(max-width: $md - 0.02px) {
            height: 100%;
        }
    }

    .page__content {
        .container {
            @media(max-width: $md - 0.02px) {
                height: 100%;
            }
        }
    }
}

.vms {
    @media(max-width: $md - 0.02px) {
        height: 100%;
        margin-left: calc(0.02px - var(--container_padding));
        margin-right: calc(0.02px - var(--container_padding));
    }
    @media(min-width: $md) {
        overflow: visible;
    }

    &__inner {
        @media(min-width: $md) {
            display: block;
        }

        & > .swiper-slide {
            position: relative;
            z-index: 1;

            .marquee {
                bottom: 0;
                left: 0;
                position: absolute;
                right: 0;
                top: auto;
                z-index: 1;
                @media(min-width: $md) {
                    right: calc(.02px - var(--container_padding));
                    left: calc(.02px - var(--container_padding));
                }
                @media(min-width: 1920px) {
                    right: calc(-100vw / 2 + var(--container_max_width)/ 2 - var(--container_padding));
                    left: calc(-100vw / 2 + var(--container_max_width)/ 2 - var(--container_padding));
                }
            }
        }
    }

    &__pagination {
        &.swiper-pagination-vertical.swiper-pagination-bullets {
            display: flex;
            flex-direction: column;
            gap: 8px;
            left: 8px;
            right: auto;

            .swiper-pagination-bullet {
                background-color: #fff;
                height: 4px;
                margin: 0;
                width: 4px;
            }
        }
    }
}

.hs {
    @media(min-width: $md) {
        margin-left: calc(0.02px - var(--container_padding));
        margin-right: calc(0.02px - var(--container_padding));
    }
    @media(min-width: 1920px) {
        margin-left: calc(-100vw / 2 + var(--container_max_width) / 2 - var(--container_padding));
        margin-right: calc(-100vw / 2 + var(--container_max_width) / 2 - var(--container_padding));
    }

    &__pagination {
        align-items: center;
        display: flex;
        gap: 3px;
        flex-wrap: wrap;
        justify-content: center;

        &.swiper-pagination-horizontal {
            bottom: 32px;
            @media(min-width: $lg) {
                bottom: 60px;
            }
        }

        .swiper-pagination-bullet {
            background-color: #fff;
            border-radius: 0;
            height: 2px;
            margin: 0 !important;
            width: 40px;
        }

        .swiper-pagination-bullet-active {
            background-color: #fff;
            opacity: 1;
        }
    }

    .swiper-button-next,
    .swiper-button-prev {
        color: #fff;
        height: 48px;
        position: absolute;
        top: 50%;
        width: 48px;
        z-index: 3;
        @media(max-width: $md - 0.02px) {
            display: none;
        }
        @include hover {
            color: #fff;
        }

        svg {
            fill: currentColor;
            height: 20px;
            width: 20px;
        }
    }

    .swiper-button-prev {
        left: var(--container_padding);
    }

    .swiper-button-next {
        left: auto;
        right: var(--container_padding);
    }

    &--marquee {
        .banner--type_5 {
            .banner__inner {
                padding-bottom: 130px;
            }
        }

        .hs__pagination {
            &.swiper-pagination-horizontal {
                bottom: 90px;
            }
        }
    }

    &__top-links {
        align-items: center;
        display: flex;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        position: absolute;
        z-index: 1;
        top: var(--header_min_height);
        right: 0;
        left: 0;
        @media(min-width: $lg) {
            display: none;
        }

        a {
            align-items: center;
            color: #fff;
            display: flex;
            justify-content: center;
            height: 40px;
            padding-left: 16px;
            padding-right: 16px;
            text-decoration: none;
            width: 50%;

            &:first-child {
                justify-content: flex-start;
            }

            &:last-child {
                justify-content: flex-end;
            }
        }
    }
}

.marquee {
    background-color: rgba(#101010, 0.4);
    color: #fff;
    font-size: 14px;
    height: 48px;
    line-height: 1.3;
    overflow: hidden;
    padding-top: 14px;
    padding-bottom: 14px;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;

    &__inner {
        --el_width: -50%;
        --duration: 10s;
        align-items: center;
        display: flex;
        gap: 16px;
        justify-content: center;
        animation: marquee var(--duration) linear infinite;
        will-change: transform;

        span {
            align-items: center;
            display: flex;
            gap: 16px;

            &::after {
                background-color: #fff;
                border-radius: 50%;
                content: '';
                display: block;
                height: 4px;
                width: 4px;
            }
        }
    }
}
@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(var(--el_width));
    }
}

.banner {
    &--type_5 {
        &::after,
        &::before {
            bottom: 0;
            content: '';
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
        }

        &::before {
            background-color: rgba(#0D0D0D, 0.25);
            z-index: 0;
            @media(min-width: $md) {
                background: radial-gradient(144.68% 144.68% at 50.03% 47.64%, rgba(13, 13, 13, 0) 0%, #0D0D0D 100%);
                opacity: 0.6;
            }
        }

        &::after {
            height: 180px;
            background: linear-gradient(180deg, #0D0D0D 0%, rgba(0, 0, 0, 0) 100%);
            opacity: 0.2;
            z-index: 1;
        }

        .banner__inner {
            justify-content: flex-end;
            padding-top: var(--header_min_height);
            padding-bottom: 50px;
            @media(min-width: $lg) {
                padding-bottom: 103px;
            }

            &::after {
                bottom: 0;
                background: linear-gradient(180deg, rgba(13, 13, 13, 0) 0%, #0D0D0D 100%);
                content: '';
                height: 400px;
                left: 50%;
                opacity: 0.4;
                position: absolute;
                transform: translateX(-50%);
                top: auto;
                width: 100vw;
            }
        }

        .banner__text {
            color: #fff;
            font-size: 11px;
            line-height: 1.4;
            position: relative;
            text-align: center;
            text-transform: uppercase;
            z-index: 1;
            @media(min-width: $lg) {
                font-size: 14px;
                line-height: 1.28571;
            }

            &:not(:last-child) {
                margin-bottom: 6px;
            }

            &:not(:first-child) {
                margin-top: 6px;
            }

            &.mobile-hidden {
                @media(max-width: $lg - 0.02px) {
                    display: none;
                }
            }
        }

        .banner__title {
            color: #fff;
            font-size: 24px;
            font-weight: 700;
            line-height: 1.1;
            margin: 0;
            position: relative;
            text-align: center;
            text-transform: uppercase;
            z-index: 1;
            @media(min-width: $lg) {
                font-size: 40px;
            }

            &--countdown {
                font-size: 48px;
                font-weight: 600;
                @media(min-width: $lg) {
                    font-size: 80px;
                }
            }
        }
    }
}

.main-banner-link {
    position: absolute;
    width: 100%;
    height: 100%;
    text-indent: -99999px;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.stories-slider {
    height: 100%;
    @media(min-width: $md) {
        margin-top: 70px;
        margin-bottom: 70px;
    }
    @media(min-width: $fhd) {
        margin-top: 140px;
        margin-bottom: 140px;
    }

    &__title {
        align-items: center;
        display: flex;
        justify-content: space-between;
        gap: 24px;
        margin-bottom: 20px;
        @media(min-width: $fhd) {
            margin-bottom: 40px;
        }
        @media(max-width: $md - 0.02px) {
            display: none;
        }

        h2 {
            font-size: 24px;
            font-weight: 700;
            line-height: 1.1;
            margin-bottom: 0;
            text-transform: uppercase;
            @media(min-width: $lg) {
                font-size: 40px;
            }
        }
    }

    &__arrows {
        display: flex;
        gap: 8px;

        .swiper-button-next,
        .swiper-button-prev {
            height: 48px;
            position: static;
            width: 48px;

            svg {
                height: 20px;
                width: 20px;
            }
        }
    }

    &__pagination {
        align-items: center;
        display: flex;
        gap: 3px;
        flex-wrap: wrap;
        justify-content: center;

        &.swiper-pagination-horizontal {
            bottom: 32px;
            @media(min-width: $lg) {
                bottom: 60px;
            }
        }

        .swiper-pagination-bullet {
            background-color: #fff;
            border-radius: 0;
            height: 2px;
            margin: 0 !important;
            width: 40px;
        }

        .swiper-pagination-bullet-active {
            background-color: #fff;
            opacity: 1;
        }
    }

    &__slider {
        height: 100%;
        @media(min-width: $md) {
            margin-left: calc(0.02px - var(--container_padding));
            margin-right: calc(0.02px - var(--container_padding));
        }
        @media(min-width: 1920px) {
            margin-left: calc(-100vw / 2 + var(--container_max_width) / 2 - var(--container_padding));
            margin-right: calc(-100vw / 2 + var(--container_max_width) / 2 - var(--container_padding));
        }
    }

    .swiper {
        height: 100%;
    }

    .swiper-slide {
        @media(min-width: $md) {
            width: 365px;
        }
        @media(min-width: $fhd) {
            width: 565px;
        }
    }
}

.stories-banner {
    color: var(--black_dark);
    display: block;
    height: 100%;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    z-index: 1;
    @media(min-width: $md) {
        border-radius: 4px;
    }
    @include hover {
        color: var(--black_dark);

        img {
            transform: scale(1.02);
        }

        .stories-banner__info-title {
            svg {
                transform: rotate(0deg);
            }
        }
    }

    &::after,
    &::before {
        bottom: 0;
        content: '';
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;
    }

    &::before {
        background-color: rgba(#0D0D0D, 0.25);
        @media(min-width: $md) {
            display: none;
        }
    }

    &::after {
        height: 180px;
        background: linear-gradient(180deg, #0D0D0D 0%, rgba(0, 0, 0, 0) 100%);
        opacity: 0.2;
    }

    picture {
        display: block;
        height: 100%;
        width: 100%;
    }

    img {
        display: block;
        height: 100%;
        object-fit: cover;
        transform: scale(1);
        transition: transform 0.3s;
        width: 100%;
    }

    &__inner {
        align-items: center;
        display: flex;
        flex-direction: column;
        left: 50%;
        height: 100%;
        justify-content: flex-end;
        position: absolute;
        padding-bottom: 50px;
        top: 0;
        transform: translateX(-50%);
        width: 100%;
        z-index: 2;
        @media(min-width: $md) {
            align-items: flex-start;
            justify-content: space-between;
            flex-direction: column-reverse;
            padding: 16px;
        }
    }

    &__info {
        border-radius: 4px;
        background-color: #fff;
        min-width: 214px;
        padding: 8px;
        @media(min-width: $fhd) {
            padding: 12px;
        }
    }

    &__info-title {
        display: flex;
        font-size: 11px;
        gap: 4px;
        justify-content: space-between;
        line-height: 1.28571;
        margin-bottom: 4px;
        @media(min-width: $fhd) {
            font-size: 14px;
            margin-bottom: 8px;
        }

        svg {
            height: 14px;
            position: relative;
            transition: transform 0.3s;
            transform: rotate(-45deg);
            width: 14px;
            z-index: 0;
            @media(min-width: $fhd) {
                height: 18px;
                width: 18px;
            }
        }
    }

    &__price-block {
        align-items: center;
        font-size: 11px;
        display: flex;
        flex-wrap: wrap;
        gap: 6px;
        white-space: nowrap;
        @media(min-width: $fhd) {
            font-size: 14px;
            margin-bottom: 8px;
        }

        &:not(:last-child) {
            margin-bottom: 4px;
            @media(min-width: $fhd) {
                margin-bottom: 8px;
            }
        }
    }

    &__price {
        font-weight: 600;
    }

    &__old-price {
        color: var(--gray_black);
        text-decoration: line-through;
    }

    &__discount {
        background-color: var(--pink);
        border-radius: 2px;
        font-size: 9px;
        font-weight: 600;
        line-height: 1.22222;
        padding: 2px;
        @media(min-width: $fhd) {
            font-size: 11px;
            padding: 2px 3px;
        }
    }

    &__colors {
        display: flex;
        flex-wrap: wrap;
        gap: 4px;
        @media(min-width: $fhd) {
            gap: 6px;
        }
    }

    &__color {
        border-radius: 50%;
        display: block;
        height: 8px;
        min-width: 8px;
        width: 8px;
        @media(min-width: $fhd) {
            height: 12px;
            min-width: 12px;
            width: 12px;
        }
    }

    &__text {
        color: #fff;
        font-size: 11px;
        line-height: 1.27272;
        margin-top: 16px;
        margin-bottom: 6px;
        text-transform: uppercase;
        @media(min-width: $md) {
            display: none;
        }
    }

    &__title {
        color: #fff;
        font-size: 24px;
        font-weight: 700;
        line-height: 1.1;
    }
}