.promo_2 {
    background-color: var(--gray_white);
    position: relative;
    z-index: 1;
    @media(max-width: $sm - 0.02px) {
        padding-top: 40px;
    }
    @media(min-width: $sm) {
        background-color: #DCE2E7;
    }

    .container {
        @media(min-width: $sm) {
            padding-top: 100px;
        }
        @media(min-width: $lg) {
            padding-top: 180px;
        }
        @media(min-width: $fhd) {
            padding-top: 240px;
        }
    }

    &__image-block {
        position: relative;
        z-index: 1;
    }

    &__image {
        display: block;
        min-height: 640px;
        margin-left: calc(0.02px - var(--container_padding));
        margin-right: calc(0.02px - var(--container_padding));

        img,
        picture {
            display: block;
            width: 100%;
        }
    }

    &__text {
        margin-bottom: 40px;
        @media(min-width: $sm) {
            margin-left: auto;
            margin-right: auto;
            max-width: 480px;
            text-align: center;
        }
        @media(min-width: $lg) {
            max-width: 550px;
            margin-bottom: 60px;
        }
        @media(min-width: $fhd) {
            max-width: 650px;
            margin-bottom: 100px;
        }

        .h1,
        h1 {
            margin-bottom: 16px;
            @media(min-width: $lg) {
                margin-bottom: 24px;
            }
        }
    }

    &__cards {
        @media(max-width: $sm - 0.02px) {
            bottom: 0;
            left: calc(0.02px - var(--container_padding));
            position: absolute;
            padding-bottom: 48px;
            right: calc(0.02px - var(--container_padding));
            top: auto;
            z-index: 1;
        }
    }

    &__cards-scroll {
        display: flex;
        gap: 4px;
        overflow-x: auto;
        padding-left: 8px;
        padding-right: 8px;
        scrollbar-width: none;
        @media(min-width: 600px) {
            justify-content: center;
        }
    }

    &__card {
        background-color: #fff;
        border-radius: 6px;
        font-size: 11px;
        min-width: 192px;
        padding: 4px;
        width: 192px;
        @media(min-width: $sm) {
            position: absolute;
            z-index: 1;
        }
        @media(min-width: $lg) {
            font-size: 12px;
            min-width: 226px;
            padding: 8px;
            width: 226px;
        }
        @media(min-width: $fhd) {
            font-size: 14px;
            min-width: 298px;
            padding: 12px;
            width: 298px;
        }

        &:nth-child(1) {
            @media(min-width: $sm) {
                left: 0;
                top: 7.14285%;
            }
            @media(min-width: $lg) {
                left: 8.35937%;
                top: 24.48979%;
            }
            @media(min-width: $fhd) {
                left: 8.15217%;
                top: 22.61306%;
            }
        }

        &:nth-child(2) {
            @media(min-width: $sm) {
                left: auto;
                right: 0;
                top: 30.95238%;
            }
            @media(min-width: $lg) {
                right: 8.35937%;
                top: 37.41496%;
            }
            @media(min-width: $fhd) {
                right: 8.15217%;
                top: 34.67336%;
            }
        }

        &:nth-child(3) {
            @media(min-width: $sm) {
                left: 16.66666%;
                top: 55.95238%;
            }
            @media(min-width: $lg) {
                left: 25.39062%;
                top: 63.94557%;
            }
            @media(min-width: $fhd) {
                top: 61.30653%;
            }
        }

        .h4,
        h4 {
            margin-top: 0;
            margin-bottom: 6px;
            @media(min-width: $lg) {
                margin-bottom: 8px;
            }
        }
    }

    &__card-image {
        margin-bottom: 8px;
        @media(min-width: $lg) {
            margin-bottom: 12px;
        }

        img {
            border-radius: 4px;
            display: block;
            width: 100%;
        }
    }

    &__cards-arrows {
        align-items: center;
        bottom: 0;
        border-bottom: 1px solid var(--gray);
        display: flex;
        justify-content: space-between;
        left: 0;
        min-height: 48px;
        position: absolute;
        padding-left: 8px;
        padding-right: 8px;
        right: 0;
        top: auto;
        z-index: 1;
        @media(min-width: 600px) {
            display: none;
        }

        svg {
            fill: var(--black_dark);
            height: 24px;
            width: 24px;
        }
    }
}