.container {
    & > .promo_13 {
        &:first-child {
            @media(min-width: $sm) {
                margin-top: calc(0.01px - var(--header_min_height));
            }

            .container {
                &:has(.breadcrumbs) {
                    @media(min-width: $sm) {
                        padding-top: var(--header_min_height);
                    }
                }
            }
        }
    }
}

.promo_13 {
    position: relative;
    z-index: 1;
    @media(max-width: $sm - 0.01px) {
        padding-top: 30px;
    }
    @media(min-width: $sm) {
        background-color: #f5f1f0;
    }

    &:not(:last-child) {
        margin-bottom: 40px;
        @media(min-width: $sm) {
            margin-bottom: 60px;
        }
        @media(min-width: $lg) {
            margin-bottom: 120px;
        }
        @media(min-width: $fhd) {
            margin-bottom: 180px;
        }
    }

    .container {
        &:not(:has(.breadcrumbs)) {
            @media(min-width: $sm) {
                padding-top: 120px;
            }
            @media(min-width: $lg) {
                padding-top: 140px;
            }
            @media(min-width: $fhd) {
                padding-top: 200px;
            }
        }
    }

    .breadcrumbs {
        @media(max-width: $sm - 0.01px) {
            display: none;
        }
    }

    &__image-block {
        position: relative;
        z-index: 1;
    }

    &__image {
        display: block;
        margin-left: calc(0.01px - var(--container_padding));
        margin-right: calc(0.01px - var(--container_padding));

        img,
        picture {
            display: block;
            width: 100%;
        }
    }

    &__text {
        margin-bottom: 16px;
        @media(min-width: $sm) {
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 32px;
            max-width: 610px;
            text-align: center;
        }
        @media(min-width: $lg) {
            max-width: 700px;
            margin-bottom: 40px;
        }
        @media(min-width: $fhd) {
            max-width: 890px;
            margin-bottom: 60px;
        }

        .h1,
        h1 {
            margin-bottom: 16px;
            @media(min-width: $lg) {
                margin-bottom: 24px;
            }
        }
    }

    &__cards {
        @media(max-width: $sm - 0.01px) {
            bottom: 30px;
            display: flex;
            gap: 4px;
            left: calc(0.01px - var(--container_padding));
            overflow-x: auto;
            position: absolute;
            padding-left: 8px;
            padding-right: 8px;
            right: calc(0.01px - var(--container_padding));
            top: auto;
            scrollbar-width: none;
            z-index: 1;
        }
    }

    &__card {
        background-color: #fff;
        border-radius: 6px;
        font-size: 11px;
        min-width: 192px;
        padding: 4px;
        width: 192px;
        @media(min-width: $sm) {
            position: absolute;
            z-index: 1;
        }
        @media(min-width: $lg) {
            font-size: 12px;
            min-width: 226px;
            padding: 8px;
            width: 226px;
        }
        @media(min-width: $fhd) {
            font-size: 14px;
            min-width: 298px;
            padding: 12px;
            width: 298px;
        }

        &:nth-child(1) {
            @media(min-width: $sm) {
                left: 0;
                top: 25.81926%;
            }
            @media(min-width: $lg) {
                left: 8.35937%;
                top: 21.58430%;
            }
            @media(min-width: $fhd) {
                left: 8.15217%;
                top: 25.64102%;
            }
        }

        &:nth-child(2) {
            @media(min-width: $sm) {
                left: auto;
                right: 0;
                top: 46.07745%;
            }
            @media(min-width: $lg) {
                right: 8.35937%;
                top: 35.31976%;
            }
            @media(min-width: $fhd) {
                right: 8.15217%;
                top: 37.94871%;
            }
        }

        &:nth-child(3) {
            @media(min-width: $sm) {
                left: 18.88020%;
                top: 66.33565%;
            }
            @media(min-width: $lg) {
                left: 25.625%;
                top: 63.80813%;
            }
            @media(min-width: $fhd) {
                top: 65.12820%;
            }
        }

        .h4,
        h4 {
            margin-top: 0;
            margin-bottom: 6px;
            @media(min-width: $lg) {
                margin-bottom: 8px;
            }
        }
    }

    &__card-image {
        margin-bottom: 8px;
        @media(min-width: $lg) {
            margin-bottom: 12px;
        }

        img {
            border-radius: 4px;
            display: block;
            width: 100%;
        }
    }
}