.promo_11 {
    background-color: var(--gray_white);
    padding-bottom: 60px;
    @media(min-width: $sm) {
        padding-bottom: 100px;
    }
    @media(min-width: $lg) {
        padding-bottom: 0;
    }

    &__section {
        &:nth-child(2) {
            @media(max-width: $lg - 0.01px) {
                display: none;
            }
        }
        @media(min-width: $lg) {
            position: relative;
            z-index: 1;
        }

        & > .promo_11__card {
            @media(max-width: $lg - 0.01px) {
                display: none;
            }
        }
    }

    &__image {
        position: relative;
        z-index: 1;
        @media(max-width: $lg - 0.01px) {
            margin-left: calc(0.01px - var(--container_padding));
            margin-right: calc(0.01px - var(--container_padding));
        }
        @media(min-width: $lg) {
            margin-left: auto;
            margin-right: auto;
            min-width: 422px;
            max-width: 606px;
            width: 31.02941%;
        }
        @media(min-width: $fhd) {
            width: 32.93478%;
        }

        img,
        picture {
            display: block;
            width: 100%;
        }

        img {
            @media(min-width: $sm) {
                object-position: center 0;
                object-fit: cover;
            }
            @media(min-width: $sm) and (max-width: $lg - 0.01px) {
                max-height: 640px;
            }
            @media(min-width: $lg) {
                height: 100dvh;
                max-height: 1080px;
            }
        }

        &::before {
            background: linear-gradient(0, rgba(13, 13, 13, 0) 0%, #0D0D0D 100%);
            content: '';
            height: 140px;
            left: 0;
            opacity: 0.5;
            position: absolute;
            top: 0;
            width: 100%;
            z-index: 1;
            @media(min-width: $lg) {
                height: 240px;
            }
            @media(min-width: $fhd) {
                height: 335px;
            }
        }
    }

    &__text-block {
        align-items: center;
        color: #fff;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
        left: 0;
        position: absolute;
        padding-top: 24px;
        top: 0;
        text-align: center;
        width: 100%;
        z-index: 2;
        @media(min-width: $lg) {
            padding-top: 100px;
        }
        @media(min-width: $fhd) {
            padding-top: 145px;
            padding-bottom: 80px;
        }

        .h1 {
            small {
                display: block;
            }
        }
    }

    &__cards {
        @media(max-width: $sm - 0.01px) {
            gap: 4px;
            margin-top: -40px;
        }
        @media(min-width: $sm) and (max-width: $lg - 0.01px) {
            gap: 8px;
            margin-top: -50px;
        }
        @media(min-width: $md) {
            justify-content: center;
        }
        @media(max-width: $lg - 0.01px) {
            display: flex;
            margin-left: calc(0.01px - var(--container_padding));
            margin-right: calc(0.01px - var(--container_padding));
            overflow-x: auto;
            padding-left: var(--container_padding);
            padding-right: var(--container_padding);
            position: relative;
            z-index: 2;
            scrollbar-width: none;
        }
        @media(min-width: $lg) {
            display: none;
        }
    }

    &__card {
        background-color: #fff;
        border-radius: 6px;
        font-size: 11px;
        min-width: 192px;
        padding: 4px;
        width: 192px;
        @media(min-width: $sm) {
            font-size: 12px;
            min-width: 234px;
            padding: 8px;
            width: 234px;
        }
        @media(min-width: $lg) {
            min-width: 226px;
            position: absolute;
            width: 226px;
            z-index: 1;
        }
        @media(min-width: $fhd) {
            font-size: 14px;
            min-width: 298px;
            padding: 12px;
            width: 298px;
        }

        &:nth-child(odd) {
            @media(min-width: $lg) {
                left: 8.4375%;
                top: 18%;
            }
        }

        &:nth-child(even) {
            @media(min-width: $lg) {
                left: auto;
                right: 8.4375%;
                top: 36%;
            }
        }

        .h4,
        h4 {
            margin-top: 0;
            margin-bottom: 6px;
            @media(min-width: $lg) {
                margin-bottom: 8px;
            }
        }
    }

    &__card-image {
        margin-bottom: 8px;
        @media(min-width: $lg) {
            margin-bottom: 12px;
        }

        img {
            border-radius: 4px;
            display: block;
            width: 100%;
        }
    }
}