.promo_8 {
    @media(min-width: $sm) {
        margin-left: calc(0.01px - var(--container_padding));
        margin-right: calc(0.01px - var(--container_padding));
    }
    @media(min-width: 1920px) {
        margin-left: calc(-100vw / 2 + var(--container_max_width) / 2 - var(--container_padding));
        margin-right: calc(-100vw / 2 + var(--container_max_width) / 2 - var(--container_padding));
    }

    .card__image {
        @media(min-width: $sm) {
            border-radius: 0;
        }
    }

    .card__bottom {
        @media(min-width: $sm) {
            padding-left: var(--container_padding);
            padding-right: var(--container_padding);
        }
    }
}