.promo_14 {
    &:not(:last-child) {
        margin-bottom: 40px;
        @media(min-width: $sm) {
            margin-bottom: 60px;
        }
        @media(min-width: $lg) {
            margin-bottom: 120px;
        }
        @media(min-width: $fhd) {
            margin-bottom: 180px;
        }
    }

    &--reverse {
        .promo_14__inner {
            @media(min-width: $sm) {
                flex-direction: row-reverse;
            }
        }
    }

    &__inner {
        @media(min-width: $sm) {
            display: flex;
            gap: 40px;
            justify-content: space-between;
        }
        @media(min-width: $md) {
            align-items: center;
            gap: 0;
            justify-content: space-around;
        }
    }

    &__text {
        @media(max-width: $sm - 0.01px) {
            margin-bottom: 24px;
        }
        @media(min-width: $sm) {
            max-width: 400px;
            width: 50%;
        }
        @media(min-width: $fhd) {
            max-width: 450px;
        }

        .h1,
        h1 {
            margin-bottom: 16px;
            @media(min-width: $lg) {
                margin-bottom: 24px;
            }
        }
    }

    img {
        border-radius: 4px;
        display: block;
        width: 100%;
    }

    picture {
        display: block;
        @media(min-width: $sm) {
            min-width: 50%;
            width: 50%;
        }
        @media(min-width: $lg) {
            min-width: 32.8125%;
            width: 32.8125%;
        }
    }
}