.start-banner {
    position: relative;
    z-index: 1;
    @media(min-width: $sm) {
        margin-top: calc(0.01px - var(--header_min_height) * 2);
    }
    @media(min-width: $lg) {
        height: calc(100dvh + var(--header_min_height));
    }

    &::after {
        background: linear-gradient(180deg, rgba(13, 13, 13, 0) 0%, #0D0D0D 100%);
        bottom: 0;
        content: '';
        height: 200px;
        left: 0;
        opacity: 0.4;
        position: absolute;
        top: auto;
        width: 100%;
        z-index: 1;
        @media(min-width: $lg) {
            height: 240px;
        }
        @media(min-width: $fhd) {
            height: 335px;
        }
    }

    img,
    picture {
        display: block;
        width: 100%;
    }

    picture {
        @media(min-width: $lg) {
            height: 100%;
        }

        img {
            @media(min-width: $lg) {
                object-fit: cover;
                height: 100%;
            }
        }
    }

    &--type_1 {
        h1 {
            margin-top: auto;
        }
    }

    &--type_2 {
        .start-banner__inner {
            @media(max-width: $sm - 0.01px) {
                padding-top: 24px;
            }
        }

        .breadcrumbs {
            @media(max-width: $sm - 0.01px) {
                display: none;
            }
        }

        .start-banner__logo {
            @media(max-width: $sm - 0.01px) {
                margin-top: auto;
                margin-bottom: auto;
            }
        }

        .h2,
        h2 {
            @media(min-width: $sm) {
                margin-top: auto;
            }

            br {
                @media(min-width: $sm) {
                    display: none;
                }
            }
        }
    }

    &--type_3 {
        .start-banner__inner {
            padding-top: 24px;
        }
    }

    &__inner {
        display: flex;
        flex-direction: column;
        left: 50%;
        height: 100%;
        position: absolute;
        padding-bottom: 40px;
        top: 0;
        transform: translateX(-50%);
        width: 100%;
        z-index: 2;
        @media(min-width: $sm) {
            padding-top: calc(var(--header_min_height) * 2);
        }
        @media(min-width: $lg) {
            padding-bottom: 60px;
        }
        @media(min-width: $fhd) {
            padding-bottom: 80px;
        }

        .h1,
        .h2,
        h1,
        h2 {
            color: #fff;
            margin-bottom: 0;
            text-align: center;
        }

        .h2,
        h2 {
            margin-top: 0;
            margin-bottom: 16px;
        }
    }
}