<div class="cookie-popup">
    <p class="cookie-popup__title">Мы используем cookies</p>
    <p class="cookie-popup__text">Этот сайт использует файлы cookies для обеспечения удобства пользователей, анализа трафика и персонализации контента. Продолжая пользоваться сайтом, вы соглашаетесь с использованием файлов cookies.</p>
    <div class="cookie-popup__buttons">
        <button class="cookie-popup__button cookie-popup__button--white" type="button">Хорошо</button>
        <a class="cookie-popup__button cookie-popup__button--bordered" href="#">Подробнее</a>
    </div>
</div>