<footer class="footer">
    <div class="container">
        <div class="footer__logo">
            <picture>
                <source srcset="images/logo_footer.svg" media="(min-width: 768px)">
                <img src="images/logo_footer_mob.svg" alt="BJORN LARSEN">
            </picture>
        </div>

        <div class="footer__catalog">
            <a href="#">МУЖЧИНАМ</a>

            <a href="#">ЖЕНЩИНАМ</a>

            <a href="#">НОВИНКИ</a>

            <a href="#">БЕСТСЕЛЛЕРЫ</a>

            <a href="#">РАСПРОДАЖА</a>
        </div>

        <div class="footer__middle">
            <div class="footer__middle-block">
                <div class="footer__middle-title">ПОКУПАТЕЛЯМ</div>

                <a href="#">ОПТОВЫМ ПОКУПАТЕЛЯМ</a>

                <a href="#">ДОСТАВКА И ОПЛАТА</a>

                <a href="#">ОБМЕН И ВОЗВРАТ</a>

                <a href="#">УХОД ЗА ИЗДЕЛИЕМ</a>

                <a href="#">ТЕХНОЛОГИЯ ПРОИЗВОДСТВА</a>
            </div>

            <div class="footer__middle-block">
                <div class="footer__middle-title">КОМПАНИЯ</div>

                <a href="#">О БРЕНДЕ</a>

                <a href="#">БЛОГ</a>

                <a href="#">КОНТАКТЫ</a>
            </div>

            <div class="footer__middle-block">
                <div class="footer__middle-title">КОНТАКТЫ</div>

                <a href="mailto:info@larsenbjorn.ru">INFO@LARSENBJORN.RU</a>

                <a href="tel:+78003007828">+7 (800) 300-78-28</a>
            </div>

            <div class="footer__middle-block">
                <div class="footer__middle-title">СОЦИАЛЬНЫЕ СЕТИ</div>

                <a href="#" rel="nofollow noopener noreferrer">ВКОНТАКТЕ</a>

                <a href="#" rel="nofollow noopener noreferrer">YOUTUBE</a>
            </div>
        </div>

        <div class="footer__bottom">
            <div class="footer__bottom-block">© 2024, BJORN LARSEN</div>

            <div class="footer__bottom-block">
                <a href="#">ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ</a>
            </div>

            <div class="footer__bottom-block">
                СДЕЛАНО В <a href="#" rel="nofollow noreferrer noopener">AVA DIGITAL</a>
            </div>
        </div>
    </div>
</footer>