<header class="header header--transparent">
    <div class="header__inner container">
        <div class="header__menu-block">
            <button class="js-main-menu-opener header__button" type="button" title="Открыть меню">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#burger_icon" />
                </svg>
            </button>

            <div class="header__short-menu">
                <a href="#">МУЖЧИНАМ</a>

                <a href="#">ЖЕНЩИНАМ</a>
            </div>
        </div>

        <button class="js-search-opener header__button header__button--search" type="button" title="Открыть поиск">
            <svg aria-hidden="true">
                <use xlink:href="images/sprite.svg#search_icon" />
            </svg>
        </button>

        <a class="header__logo header-logo" href="#" title="На главную">
            <svg class="header-logo__icon" aria-hidden="true">
                <use xlink:href="images/sprite.svg#logo_icon" />
            </svg>
            <svg class="header-logo__text" aria-hidden="true">
                <use xlink:href="images/sprite.svg#logo_text" />
            </svg>
        </a>

        <a class="header__button header__button--personal" href="#" title="Личный кабинет">
            <svg aria-hidden="true">
                <use xlink:href="images/sprite.svg#personal_icon" />
            </svg>
        </a>

        <a class="header__button header__button--fav" href="#" title="Избранное">
            <svg aria-hidden="true">
                <use xlink:href="images/sprite.svg#fav_icon" />
            </svg>
        </a>

        <button class="js-popup-open header__button header__button--cart" type="button" data-popup="cart_popup" title="Показать корзину">
            <svg aria-hidden="true">
                <use xlink:href="images/sprite.svg#cart_icon" />
            </svg>
        </button>
    </div>
</header>