<div class="main-menu">
    <div class="main-menu__inner">
        <button class="js-main-menu-closer main-menu__closer" type="button" title="Закрыть меню">
            <svg aria-hidden="true">
                <use xlink:href="images/sprite.svg#close_icon" />
            </svg>
        </button>

        <nav class="main-menu__nav">
            <ul class="main-menu__links main-menu__links--type_1">
                <li><a href="#">МУЖЧИНАМ</a></li>
                <li><a href="#">ЖЕНЩИНАМ</a></li>
                <li><a href="#">НØВИНКИ</a></li>
                <li><a href="#">БЕСТСЕЛЛЕРЫ</a></li>
                <li><a href="#">РАСПРØДАЖА</a></li>
            </ul>

            <ul class="main-menu__links main-menu__links--type_2">
                <li class="big"><a href="#">ПØКУПАТЕЛЯМ</a></li>
                <li><a href="#">ОПТОВЫМ ПОКУПАТЕЛЯМ</a></li>
                <li><a href="#">ДОСТАВКА И ОПЛАТА</a></li>
                <li><a href="#">ОБМЕН И ВОЗВРАТ</a></li>
                <li><a href="#">УХОД ЗА ИЗДЕЛИЕМ</a></li>
                <li><a href="#">ТЕХНОЛОГИЯ ПРОИЗВОДСТВА</a></li>
            </ul>

            <ul class="main-menu__links main-menu__links--type_3">
                <li>
                    <a class="imaged-link" href="#">
                        <span class="imaged-link__image">
                            <img src="images/content/menu/img_1.jpg" srcset="images/content/menu/img_1@2x.jpg 2x" alt="Ø БРЕНДЕ">
                        </span>
                        <span class="imaged-link__title">Ø БРЕНДЕ</span>
                    </a>
                </li>
                <li>
                    <a class="imaged-link" href="#">
                        <span class="imaged-link__image">
                            <img src="images/content/menu/img_2.jpg" srcset="images/content/menu/img_2@2x.jpg 2x" alt="БЛØГ">
                        </span>
                        <span class="imaged-link__title">БЛØГ</span>
                    </a>
                </li>
                <li>
                    <a class="imaged-link" href="#">
                        <span class="imaged-link__image">
                            <img src="images/content/menu/img_3.jpg" srcset="images/content/menu/img_3@2x.jpg 2x" alt="КØНТАКТЫ">
                        </span>
                        <span class="imaged-link__title">КØНТАКТЫ</span>
                    </a>
                </li>
            </ul>
        </nav>

        <a class="main-menu__auth button button--primary" href="#">
            <svg aria-hidden="true">
                <use xlink:href="images/sprite.svg#personal_icon" />
            </svg>
            ВОЙТИ ИЛИ ЗАРЕГИСТРИРОВАТЬСЯ
        </a>
    </div>
</div>