<div id="modal_promo" class="popup popup--modal popup--modal_promo popup--modal_promo_picture">
    <button class="js-popup-close popup__closer" type="button" title="Закрыть попап">
        <svg aria-hidden="true">
            <use xlink:href="images/sprite.svg#close_icon" />
        </svg>
    </button>

    <div class="modal-promo modal-promo--picture">
        <div class="modal-promo__image">
            <picture>
                <source srcset="images/content/modal-promo/img_desk.jpg, images/content/modal-promo/img_desk@2x.jpg 2x" media="(min-width: 1024px)">
                <img src="images/content/modal-promo/img_mob.jpg" srcset="images/content/modal-promo/img_mob@2x.jpg 2x" alt="">
            </picture>
        </div>

        <div class="modal-promo__form">
            <p class="h1">Дарим промокод<br> на -15% на новую<br> коллекцию</p>

            <p class="modal-promo__text">при подписке на рассылку</p>

            <form action="">
                <div class="input-group">
                    <input id="email" class="input-group__input" type="text" name="" value="">
                    <label class="input-group__label" for="email">Ваш e-mail</label>
                </div>

                <button class="button button--primary button--m" type="submit">получить промокод</button>

                <label class="checkbox">
                    <input type="checkbox" name="terms" checked>
                    <span class="checkbox__icon"></span>
                    <span class="checkbox__text">Нажимая на кнопку “Подписаться”, вы подтверждаете свое согласие с политикой конфиденциальности</span>
                </label>
            </form>
        </div>
    </div>
</div>

<div id="modal_promo_2" class="popup popup--modal popup--modal_promo popup--modal_promo_no_picture">
    <button class="js-popup-close popup__closer" type="button" title="Закрыть попап">
        <svg aria-hidden="true">
            <use xlink:href="images/sprite.svg#close_icon" />
        </svg>
    </button>

    <div class="modal-promo modal-promo--no_picture">
        <div class="modal-promo__form">
            <p class="h1">Дарим промокод<br> на -15% на новую<br> коллекцию</p>

            <p class="modal-promo__text">при подписке на рассылку</p>

            <form action="">
                <div class="input-group">
                    <input id="email" class="input-group__input" type="text" name="" value="">
                    <label class="input-group__label" for="email">Ваш e-mail</label>
                </div>

                <button class="button button--primary button--m" type="submit">получить промокод</button>

                <label class="checkbox">
                    <input type="checkbox" name="terms" checked>
                    <span class="checkbox__icon"></span>
                    <span class="checkbox__text">Нажимая на кнопку “Подписаться”, вы подтверждаете свое согласие с политикой конфиденциальности</span>
                </label>
            </form>
        </div>
    </div>
</div>