<div class="search">
    <div class="search__top">
        <div class="search__title">ПОИСК</div>

        <div class="search__form-block">
            <form class="search__form" method="get" action="" autocomplete="off">
                <div class="search__input-container">
                    <input class="js-search-input search__input" type="search" name="q" value="" placeholder="НАЙТИ ТОВАР" autocomplete="off">

                    <button class="js-search-input-cleaner search__input-cleaner" type="button" title="Очистить">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#close_icon" />
                        </svg>
                    </button>
                </div>

                <button class="search__submit button button--primary button--s" type="submit">НАЙТИ</button>

                <button class="js-search-closer search__closer button button--white button--s" type="button" title="Закрыть поиск">
                    <span>ЗАКРЫТЬ</span>

                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#close_icon" />
                    </svg>
                </button>
            </form>
        </div>
    </div>

    <div class="search__body">
        <div class="search__tags">
            <div class="h2">ЧАСТØ ИЩУТ</div>

            <div class="search__tags-list">
                <button class="js-search-tag search__tag" type="button">Куртка на каждый день</button>
                <button class="js-search-tag search__tag" type="button">Аляски</button>
                <button class="js-search-tag search__tag" type="button">парки</button>
                <button class="js-search-tag search__tag" type="button">бомберы</button>
                <button class="js-search-tag search__tag" type="button">пуховики</button>
                <button class="js-search-tag search__tag" type="button">зимние куртки</button>
                <button class="js-search-tag search__tag" type="button">демисезонные</button>
                <button class="js-search-tag search__tag" type="button">кожаные куртки</button>
            </div>
        </div>

        <div class="search__popular">
            <div class="cards-slider">
                <div class="cards-slider__title">
                    <div class="h2">ПØПУЛЯРНЫЕ ТØВАРЫ</div>

                    <div class="cards-slider__arrows">
                        <button class="swiper-button-prev" type="button" title="Назад" data-arrows="arrows_1">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#chevron_left" />
                            </svg>
                        </button>

                        <button class="swiper-button-next" type="button" title="Вперёд" data-arrows="arrows_1">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#chevron_right" />
                            </svg>
                        </button>
                    </div>
                </div>

                <div class="js-cards-slider cards-slider__slider swiper" data-s-qnt="2" data-sm-qnt="3" data-lg-qnt="5" data-fhd-qnt="5" data-arrows="arrows_1">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="card">
                                <div class="card__top">
                                    <a class="js-card-images card__image" href="#">
                                        <span class="card__images">
                                            <span class="js-card-image card__image-item is-active"><img src="images/content/cards/img_1.jpg" srcset="images/content/cards/img_1@2x.jpg 2x" alt=""></span>
                                            <span class="js-card-image card__image-item"><img src="images/content/cards/img_2.jpg" srcset="images/content/cards/img_2@2x.jpg 2x" alt=""></span>
                                            <span class="js-card-image card__image-item"><img src="images/content/cards/img_3.jpg" srcset="images/content/cards/img_3@2x.jpg 2x" alt=""></span>
                                            <span class="js-card-image card__image-item"><img src="images/content/cards/img_4.jpg" srcset="images/content/cards/img_4@2x.jpg 2x" alt=""></span>
                                            <span class="js-card-image card__image-item"><img src="images/content/cards/img_5.jpg" srcset="images/content/cards/img_5@2x.jpg 2x" alt=""></span>
                                        </span>

                                        <span class="card__images-pagination">
                                            <span class="js-card-image-num is-active"></span>
                                            <span class="js-card-image-num"></span>
                                            <span class="js-card-image-num"></span>
                                            <span class="js-card-image-num"></span>
                                            <span class="js-card-image-num"></span>
                                        </span>

                                        <span class="card__images-handlers">
                                            <span class="js-card-image-handler card__image-handler"></span>
                                            <span class="js-card-image-handler card__image-handler"></span>
                                            <span class="js-card-image-handler card__image-handler"></span>
                                            <span class="js-card-image-handler card__image-handler"></span>
                                            <span class="js-card-image-handler card__image-handler"></span>
                                        </span>
                                    </a>

                                    <div class="card__badges badges">
                                        <div class="badge">мембрана</div>
                                    </div>

                                    <button class="card__fav" type="button" title="Добавить в избранное">
                                        <svg aria-hidden="true">
                                            <use xlink:href="images/sprite.svg#fav_icon" />
                                        </svg>
                                    </button>

                                    <a class="card__buy" href="#" title="Добавить в корзину">
                                        <svg aria-hidden="true">
                                            <use xlink:href="images/sprite.svg#cart_icon" />
                                        </svg>
                                    </a>
                                </div>

                                <div class="card__bottom">
                                    <div class="card__title"><a href="#">Мужской демисезонный бомбер Hamar</a></div>

                                    <div class="card__price-block">
                                        <div class="card__price">34 900 ₽</div>
                                        <div class="card__old-price">54 900 ₽</div>
                                        <div class="card__discount">-15%</div>
                                    </div>

                                    <div class="card__colors">
                                        <div class="card__color" style="background-color: #5A785A" title="Зелёный"></div>
                                        <div class="card__color" style="background-color: #00487D" title="Синий"></div>
                                        <div class="card__color" style="background-color: #B52626" title="Красный"></div>
                                        <div class="card__color" style="background-color: #B59B8A" title="Бежевый"></div>
                                        <div class="card__color" style="background-color: #4A4A4D" title="Тёмно-серый"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="card">
                                <div class="card__top">
                                    <a class="js-card-images card__image" href="#">
                                        <span class="card__images">
                                            <span class="js-card-image card__image-item is-active"><img src="images/content/cards/img_1.jpg" srcset="images/content/cards/img_1@2x.jpg 2x" alt=""></span>
                                            <span class="js-card-image card__image-item"><img src="images/content/cards/img_2.jpg" srcset="images/content/cards/img_2@2x.jpg 2x" alt=""></span>
                                            <span class="js-card-image card__image-item"><img src="images/content/cards/img_3.jpg" srcset="images/content/cards/img_3@2x.jpg 2x" alt=""></span>
                                            <span class="js-card-image card__image-item"><img src="images/content/cards/img_4.jpg" srcset="images/content/cards/img_4@2x.jpg 2x" alt=""></span>
                                            <span class="js-card-image card__image-item"><img src="images/content/cards/img_5.jpg" srcset="images/content/cards/img_5@2x.jpg 2x" alt=""></span>
                                        </span>

                                        <span class="card__images-pagination">
                                            <span class="js-card-image-num is-active"></span>
                                            <span class="js-card-image-num"></span>
                                            <span class="js-card-image-num"></span>
                                            <span class="js-card-image-num"></span>
                                            <span class="js-card-image-num"></span>
                                        </span>

                                        <span class="card__images-handlers">
                                            <span class="js-card-image-handler card__image-handler"></span>
                                            <span class="js-card-image-handler card__image-handler"></span>
                                            <span class="js-card-image-handler card__image-handler"></span>
                                            <span class="js-card-image-handler card__image-handler"></span>
                                            <span class="js-card-image-handler card__image-handler"></span>
                                        </span>
                                    </a>

                                    <div class="card__badges badges">
                                        <div class="badge">натуральный пух</div>
                                    </div>

                                    <button class="card__fav" type="button" title="Убрать из избранного">
                                        <svg aria-hidden="true">
                                            <use xlink:href="images/sprite.svg#fav_filled_icon" />
                                        </svg>
                                    </button>

                                    <a class="card__buy" href="#" title="Добавить в корзину">
                                        <svg aria-hidden="true">
                                            <use xlink:href="images/sprite.svg#cart_icon" />
                                        </svg>
                                    </a>
                                </div>

                                <div class="card__bottom">
                                    <div class="card__title"><a href="#">Мужской демисезонный бомбер Hamar</a></div>

                                    <div class="card__price-block">
                                        <div class="card__price">34 900 ₽</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="card">
                                <div class="card__top">
                                    <a class="js-card-images card__image" href="#">
                                        <span class="card__images">
                                            <span class="js-card-image card__image-item is-active"><img src="images/content/cards/img_1.jpg" srcset="images/content/cards/img_1@2x.jpg 2x" alt=""></span>
                                            <span class="js-card-image card__image-item"><img src="images/content/cards/img_2.jpg" srcset="images/content/cards/img_2@2x.jpg 2x" alt=""></span>
                                            <span class="js-card-image card__image-item"><img src="images/content/cards/img_3.jpg" srcset="images/content/cards/img_3@2x.jpg 2x" alt=""></span>
                                            <span class="js-card-image card__image-item"><img src="images/content/cards/img_4.jpg" srcset="images/content/cards/img_4@2x.jpg 2x" alt=""></span>
                                            <span class="js-card-image card__image-item"><img src="images/content/cards/img_5.jpg" srcset="images/content/cards/img_5@2x.jpg 2x" alt=""></span>
                                        </span>

                                        <span class="card__images-pagination">
                                            <span class="js-card-image-num is-active"></span>
                                            <span class="js-card-image-num"></span>
                                            <span class="js-card-image-num"></span>
                                            <span class="js-card-image-num"></span>
                                            <span class="js-card-image-num"></span>
                                        </span>

                                        <span class="card__images-handlers">
                                            <span class="js-card-image-handler card__image-handler"></span>
                                            <span class="js-card-image-handler card__image-handler"></span>
                                            <span class="js-card-image-handler card__image-handler"></span>
                                            <span class="js-card-image-handler card__image-handler"></span>
                                            <span class="js-card-image-handler card__image-handler"></span>
                                        </span>
                                    </a>

                                    <div class="card__badges badges">
                                        <div class="badge">мембрана</div>
                                    </div>

                                    <button class="card__fav" type="button" title="Добавить в избранное">
                                        <svg aria-hidden="true">
                                            <use xlink:href="images/sprite.svg#fav_icon" />
                                        </svg>
                                    </button>

                                    <a class="card__buy" href="#" title="Добавить в корзину">
                                        <svg aria-hidden="true">
                                            <use xlink:href="images/sprite.svg#cart_icon" />
                                        </svg>
                                    </a>
                                </div>

                                <div class="card__bottom">
                                    <div class="card__title"><a href="#">Мужской демисезонный бомбер Hamar</a></div>

                                    <div class="card__price-block">
                                        <div class="card__price">34 900 ₽</div>
                                        <div class="card__old-price">54 900 ₽</div>
                                        <div class="card__discount">-15%</div>
                                    </div>

                                    <div class="card__colors">
                                        <div class="card__color" style="background-color: #5A785A" title="Зелёный"></div>
                                        <div class="card__color" style="background-color: #00487D" title="Синий"></div>
                                        <div class="card__color" style="background-color: #B52626" title="Красный"></div>
                                        <div class="card__color" style="background-color: #B59B8A" title="Бежевый"></div>
                                        <div class="card__color" style="background-color: #4A4A4D" title="Тёмно-серый"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="card">
                                <div class="card__top">
                                    <a class="js-card-images card__image" href="#">
                                        <span class="card__images">
                                            <span class="js-card-image card__image-item is-active"><img src="images/content/cards/img_1.jpg" srcset="images/content/cards/img_1@2x.jpg 2x" alt=""></span>
                                            <span class="js-card-image card__image-item"><img src="images/content/cards/img_2.jpg" srcset="images/content/cards/img_2@2x.jpg 2x" alt=""></span>
                                            <span class="js-card-image card__image-item"><img src="images/content/cards/img_3.jpg" srcset="images/content/cards/img_3@2x.jpg 2x" alt=""></span>
                                            <span class="js-card-image card__image-item"><img src="images/content/cards/img_4.jpg" srcset="images/content/cards/img_4@2x.jpg 2x" alt=""></span>
                                            <span class="js-card-image card__image-item"><img src="images/content/cards/img_5.jpg" srcset="images/content/cards/img_5@2x.jpg 2x" alt=""></span>
                                        </span>

                                        <span class="card__images-pagination">
                                            <span class="js-card-image-num is-active"></span>
                                            <span class="js-card-image-num"></span>
                                            <span class="js-card-image-num"></span>
                                            <span class="js-card-image-num"></span>
                                            <span class="js-card-image-num"></span>
                                        </span>

                                        <span class="card__images-handlers">
                                            <span class="js-card-image-handler card__image-handler"></span>
                                            <span class="js-card-image-handler card__image-handler"></span>
                                            <span class="js-card-image-handler card__image-handler"></span>
                                            <span class="js-card-image-handler card__image-handler"></span>
                                            <span class="js-card-image-handler card__image-handler"></span>
                                        </span>
                                    </a>

                                    <div class="card__badges badges">
                                        <div class="badge">натуральный пух</div>
                                    </div>

                                    <button class="card__fav" type="button" title="Убрать из избранного">
                                        <svg aria-hidden="true">
                                            <use xlink:href="images/sprite.svg#fav_filled_icon" />
                                        </svg>
                                    </button>

                                    <a class="card__buy" href="#" title="Добавить в корзину">
                                        <svg aria-hidden="true">
                                            <use xlink:href="images/sprite.svg#cart_icon" />
                                        </svg>
                                    </a>
                                </div>

                                <div class="card__bottom">
                                    <div class="card__title"><a href="#">Мужской демисезонный бомбер Hamar</a></div>

                                    <div class="card__price-block">
                                        <div class="card__price">34 900 ₽</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="card">
                                <div class="card__top">
                                    <a class="js-card-images card__image" href="#">
                                        <span class="card__images">
                                            <span class="js-card-image card__image-item is-active"><img src="images/content/cards/img_1.jpg" srcset="images/content/cards/img_1@2x.jpg 2x" alt=""></span>
                                            <span class="js-card-image card__image-item"><img src="images/content/cards/img_2.jpg" srcset="images/content/cards/img_2@2x.jpg 2x" alt=""></span>
                                            <span class="js-card-image card__image-item"><img src="images/content/cards/img_3.jpg" srcset="images/content/cards/img_3@2x.jpg 2x" alt=""></span>
                                            <span class="js-card-image card__image-item"><img src="images/content/cards/img_4.jpg" srcset="images/content/cards/img_4@2x.jpg 2x" alt=""></span>
                                            <span class="js-card-image card__image-item"><img src="images/content/cards/img_5.jpg" srcset="images/content/cards/img_5@2x.jpg 2x" alt=""></span>
                                        </span>

                                        <span class="card__images-pagination">
                                            <span class="js-card-image-num is-active"></span>
                                            <span class="js-card-image-num"></span>
                                            <span class="js-card-image-num"></span>
                                            <span class="js-card-image-num"></span>
                                            <span class="js-card-image-num"></span>
                                        </span>

                                        <span class="card__images-handlers">
                                            <span class="js-card-image-handler card__image-handler"></span>
                                            <span class="js-card-image-handler card__image-handler"></span>
                                            <span class="js-card-image-handler card__image-handler"></span>
                                            <span class="js-card-image-handler card__image-handler"></span>
                                            <span class="js-card-image-handler card__image-handler"></span>
                                        </span>
                                    </a>

                                    <div class="card__badges badges">
                                        <div class="badge">натуральный пух</div>
                                    </div>

                                    <button class="card__fav" type="button" title="Добавить в избранное">
                                        <svg aria-hidden="true">
                                            <use xlink:href="images/sprite.svg#fav_icon" />
                                        </svg>
                                    </button>

                                    <a class="card__buy" href="#" title="Добавить в корзину">
                                        <svg aria-hidden="true">
                                            <use xlink:href="images/sprite.svg#cart_icon" />
                                        </svg>
                                    </a>
                                </div>

                                <div class="card__bottom">
                                    <div class="card__title"><a href="#">Мужской демисезонный бомбер Hamar</a></div>

                                    <div class="card__price-block">
                                        <div class="card__price">34 900 ₽</div>
                                        <div class="card__old-price">54 900 ₽</div>
                                        <div class="card__discount">-15%</div>
                                    </div>

                                    <div class="card__colors">
                                        <div class="card__color" style="background-color: #5A785A" title="Зелёный"></div>
                                        <div class="card__color" style="background-color: #00487D" title="Синий"></div>
                                        <div class="card__color" style="background-color: #B52626" title="Красный"></div>
                                        <div class="card__color" style="background-color: #B59B8A" title="Бежевый"></div>
                                        <div class="card__color" style="background-color: #4A4A4D" title="Тёмно-серый"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="card">
                                <div class="card__top">
                                    <a class="js-card-images card__image" href="#">
                                        <span class="card__images">
                                            <span class="js-card-image card__image-item is-active"><img src="images/content/cards/img_1.jpg" srcset="images/content/cards/img_1@2x.jpg 2x" alt=""></span>
                                            <span class="js-card-image card__image-item"><img src="images/content/cards/img_2.jpg" srcset="images/content/cards/img_2@2x.jpg 2x" alt=""></span>
                                            <span class="js-card-image card__image-item"><img src="images/content/cards/img_3.jpg" srcset="images/content/cards/img_3@2x.jpg 2x" alt=""></span>
                                            <span class="js-card-image card__image-item"><img src="images/content/cards/img_4.jpg" srcset="images/content/cards/img_4@2x.jpg 2x" alt=""></span>
                                            <span class="js-card-image card__image-item"><img src="images/content/cards/img_5.jpg" srcset="images/content/cards/img_5@2x.jpg 2x" alt=""></span>
                                        </span>

                                        <span class="card__images-pagination">
                                            <span class="js-card-image-num is-active"></span>
                                            <span class="js-card-image-num"></span>
                                            <span class="js-card-image-num"></span>
                                            <span class="js-card-image-num"></span>
                                            <span class="js-card-image-num"></span>
                                        </span>

                                        <span class="card__images-handlers">
                                            <span class="js-card-image-handler card__image-handler"></span>
                                            <span class="js-card-image-handler card__image-handler"></span>
                                            <span class="js-card-image-handler card__image-handler"></span>
                                            <span class="js-card-image-handler card__image-handler"></span>
                                            <span class="js-card-image-handler card__image-handler"></span>
                                        </span>
                                    </a>

                                    <div class="card__badges badges">
                                        <div class="badge">мембрана</div>
                                    </div>

                                    <button class="card__fav" type="button" title="Убрать из избранного">
                                        <svg aria-hidden="true">
                                            <use xlink:href="images/sprite.svg#fav_filled_icon" />
                                        </svg>
                                    </button>

                                    <a class="card__buy" href="#" title="Добавить в корзину">
                                        <svg aria-hidden="true">
                                            <use xlink:href="images/sprite.svg#cart_icon" />
                                        </svg>
                                    </a>
                                </div>

                                <div class="card__bottom">
                                    <div class="card__title"><a href="#">Мужской демисезонный бомбер Hamar</a></div>

                                    <div class="card__price-block">
                                        <div class="card__price">34 900 ₽</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="js-search-result search__result" style="display: none">
            <div class="h2">ВØТ, ЧТØ МЫ НАШЛИ</div>

            <div class="search__result-list">
                <div class="card">
                    <div class="card__top">
                        <a class="js-card-images card__image" href="#">
                            <span class="card__images">
                                <span class="js-card-image card__image-item is-active"><img src="images/content/cards/img_1.jpg" srcset="images/content/cards/img_1@2x.jpg 2x" alt=""></span>
                                <span class="js-card-image card__image-item"><img src="images/content/cards/img_2.jpg" srcset="images/content/cards/img_2@2x.jpg 2x" alt=""></span>
                                <span class="js-card-image card__image-item"><img src="images/content/cards/img_3.jpg" srcset="images/content/cards/img_3@2x.jpg 2x" alt=""></span>
                                <span class="js-card-image card__image-item"><img src="images/content/cards/img_4.jpg" srcset="images/content/cards/img_4@2x.jpg 2x" alt=""></span>
                                <span class="js-card-image card__image-item"><img src="images/content/cards/img_5.jpg" srcset="images/content/cards/img_5@2x.jpg 2x" alt=""></span>
                            </span>

                            <span class="card__images-pagination">
                                <span class="js-card-image-num is-active"></span>
                                <span class="js-card-image-num"></span>
                                <span class="js-card-image-num"></span>
                                <span class="js-card-image-num"></span>
                                <span class="js-card-image-num"></span>
                            </span>

                            <span class="card__images-handlers">
                                <span class="js-card-image-handler card__image-handler"></span>
                                <span class="js-card-image-handler card__image-handler"></span>
                                <span class="js-card-image-handler card__image-handler"></span>
                                <span class="js-card-image-handler card__image-handler"></span>
                                <span class="js-card-image-handler card__image-handler"></span>
                            </span>
                        </a>

                        <div class="card__badges badges">
                            <div class="badge">натуральный пух</div>
                        </div>

                        <button class="card__fav" type="button" title="Добавить в избранное">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#fav_icon" />
                            </svg>
                        </button>

                        <a class="card__buy" href="#" title="Добавить в корзину">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#cart_icon" />
                            </svg>
                        </a>
                    </div>

                    <div class="card__bottom">
                        <div class="card__title"><a href="#">Мужской демисезонный бомбер Hamar</a></div>

                        <div class="card__price-block">
                            <div class="card__price">34 900 ₽</div>
                            <div class="card__old-price">54 900 ₽</div>
                            <div class="card__discount">-15%</div>
                        </div>

                        <div class="card__colors">
                            <div class="card__color" style="background-color: #5A785A" title="Зелёный"></div>
                            <div class="card__color" style="background-color: #00487D" title="Синий"></div>
                            <div class="card__color" style="background-color: #B52626" title="Красный"></div>
                            <div class="card__color" style="background-color: #B59B8A" title="Бежевый"></div>
                            <div class="card__color" style="background-color: #4A4A4D" title="Тёмно-серый"></div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card__top">
                        <a class="js-card-images card__image" href="#">
                            <span class="card__images">
                                <span class="js-card-image card__image-item is-active"><img src="images/content/cards/img_1.jpg" srcset="images/content/cards/img_1@2x.jpg 2x" alt=""></span>
                                <span class="js-card-image card__image-item"><img src="images/content/cards/img_2.jpg" srcset="images/content/cards/img_2@2x.jpg 2x" alt=""></span>
                                <span class="js-card-image card__image-item"><img src="images/content/cards/img_3.jpg" srcset="images/content/cards/img_3@2x.jpg 2x" alt=""></span>
                                <span class="js-card-image card__image-item"><img src="images/content/cards/img_4.jpg" srcset="images/content/cards/img_4@2x.jpg 2x" alt=""></span>
                                <span class="js-card-image card__image-item"><img src="images/content/cards/img_5.jpg" srcset="images/content/cards/img_5@2x.jpg 2x" alt=""></span>
                            </span>

                            <span class="card__images-pagination">
                                <span class="js-card-image-num is-active"></span>
                                <span class="js-card-image-num"></span>
                                <span class="js-card-image-num"></span>
                                <span class="js-card-image-num"></span>
                                <span class="js-card-image-num"></span>
                            </span>

                            <span class="card__images-handlers">
                                <span class="js-card-image-handler card__image-handler"></span>
                                <span class="js-card-image-handler card__image-handler"></span>
                                <span class="js-card-image-handler card__image-handler"></span>
                                <span class="js-card-image-handler card__image-handler"></span>
                                <span class="js-card-image-handler card__image-handler"></span>
                            </span>
                        </a>

                        <div class="card__badges badges">
                            <div class="badge">натуральный пух</div>
                        </div>

                        <button class="card__fav" type="button" title="Убрать из избранного">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#fav_filled_icon" />
                            </svg>
                        </button>

                        <a class="card__buy" href="#" title="Добавить в корзину">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#cart_icon" />
                            </svg>
                        </a>
                    </div>

                    <div class="card__bottom">
                        <div class="card__title"><a href="#">Мужской демисезонный бомбер Hamar</a></div>

                        <div class="card__price-block">
                            <div class="card__price">34 900 ₽</div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card__top">
                        <a class="js-card-images card__image" href="#">
                            <span class="card__images">
                                <span class="js-card-image card__image-item is-active"><img src="images/content/cards/img_1.jpg" srcset="images/content/cards/img_1@2x.jpg 2x" alt=""></span>
                                <span class="js-card-image card__image-item"><img src="images/content/cards/img_2.jpg" srcset="images/content/cards/img_2@2x.jpg 2x" alt=""></span>
                                <span class="js-card-image card__image-item"><img src="images/content/cards/img_3.jpg" srcset="images/content/cards/img_3@2x.jpg 2x" alt=""></span>
                                <span class="js-card-image card__image-item"><img src="images/content/cards/img_4.jpg" srcset="images/content/cards/img_4@2x.jpg 2x" alt=""></span>
                                <span class="js-card-image card__image-item"><img src="images/content/cards/img_5.jpg" srcset="images/content/cards/img_5@2x.jpg 2x" alt=""></span>
                            </span>

                            <span class="card__images-pagination">
                                <span class="js-card-image-num is-active"></span>
                                <span class="js-card-image-num"></span>
                                <span class="js-card-image-num"></span>
                                <span class="js-card-image-num"></span>
                                <span class="js-card-image-num"></span>
                            </span>

                            <span class="card__images-handlers">
                                <span class="js-card-image-handler card__image-handler"></span>
                                <span class="js-card-image-handler card__image-handler"></span>
                                <span class="js-card-image-handler card__image-handler"></span>
                                <span class="js-card-image-handler card__image-handler"></span>
                                <span class="js-card-image-handler card__image-handler"></span>
                            </span>
                        </a>

                        <div class="card__badges badges">
                            <div class="badge">мембрана</div>
                        </div>

                        <button class="card__fav" type="button" title="Добавить в избранное">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#fav_icon" />
                            </svg>
                        </button>

                        <a class="card__buy" href="#" title="Добавить в корзину">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#cart_icon" />
                            </svg>
                        </a>
                    </div>

                    <div class="card__bottom">
                        <div class="card__title"><a href="#">Мужской демисезонный бомбер Hamar</a></div>

                        <div class="card__price-block">
                            <div class="card__price">34 900 ₽</div>
                            <div class="card__old-price">54 900 ₽</div>
                            <div class="card__discount">-15%</div>
                        </div>

                        <div class="card__colors">
                            <div class="card__color" style="background-color: #5A785A" title="Зелёный"></div>
                            <div class="card__color" style="background-color: #00487D" title="Синий"></div>
                            <div class="card__color" style="background-color: #B52626" title="Красный"></div>
                            <div class="card__color" style="background-color: #B59B8A" title="Бежевый"></div>
                            <div class="card__color" style="background-color: #4A4A4D" title="Тёмно-серый"></div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card__top">
                        <a class="js-card-images card__image" href="#">
                            <span class="card__images">
                                <span class="js-card-image card__image-item is-active"><img src="images/content/cards/img_1.jpg" srcset="images/content/cards/img_1@2x.jpg 2x" alt=""></span>
                                <span class="js-card-image card__image-item"><img src="images/content/cards/img_2.jpg" srcset="images/content/cards/img_2@2x.jpg 2x" alt=""></span>
                                <span class="js-card-image card__image-item"><img src="images/content/cards/img_3.jpg" srcset="images/content/cards/img_3@2x.jpg 2x" alt=""></span>
                                <span class="js-card-image card__image-item"><img src="images/content/cards/img_4.jpg" srcset="images/content/cards/img_4@2x.jpg 2x" alt=""></span>
                                <span class="js-card-image card__image-item"><img src="images/content/cards/img_5.jpg" srcset="images/content/cards/img_5@2x.jpg 2x" alt=""></span>
                            </span>

                            <span class="card__images-pagination">
                                <span class="js-card-image-num is-active"></span>
                                <span class="js-card-image-num"></span>
                                <span class="js-card-image-num"></span>
                                <span class="js-card-image-num"></span>
                                <span class="js-card-image-num"></span>
                            </span>

                            <span class="card__images-handlers">
                                <span class="js-card-image-handler card__image-handler"></span>
                                <span class="js-card-image-handler card__image-handler"></span>
                                <span class="js-card-image-handler card__image-handler"></span>
                                <span class="js-card-image-handler card__image-handler"></span>
                                <span class="js-card-image-handler card__image-handler"></span>
                            </span>
                        </a>

                        <div class="card__badges badges">
                            <div class="badge">мембрана</div>
                        </div>

                        <button class="card__fav" type="button" title="Убрать из избранного">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#fav_filled_icon" />
                            </svg>
                        </button>

                        <a class="card__buy" href="#" title="Добавить в корзину">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#cart_icon" />
                            </svg>
                        </a>
                    </div>

                    <div class="card__bottom">
                        <div class="card__title"><a href="#">Мужской демисезонный бомбер Hamar</a></div>

                        <div class="card__price-block">
                            <div class="card__price">34 900 ₽</div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card__top">
                        <a class="js-card-images card__image" href="#">
                            <span class="card__images">
                                <span class="js-card-image card__image-item is-active"><img src="images/content/cards/img_1.jpg" srcset="images/content/cards/img_1@2x.jpg 2x" alt=""></span>
                                <span class="js-card-image card__image-item"><img src="images/content/cards/img_2.jpg" srcset="images/content/cards/img_2@2x.jpg 2x" alt=""></span>
                                <span class="js-card-image card__image-item"><img src="images/content/cards/img_3.jpg" srcset="images/content/cards/img_3@2x.jpg 2x" alt=""></span>
                                <span class="js-card-image card__image-item"><img src="images/content/cards/img_4.jpg" srcset="images/content/cards/img_4@2x.jpg 2x" alt=""></span>
                                <span class="js-card-image card__image-item"><img src="images/content/cards/img_5.jpg" srcset="images/content/cards/img_5@2x.jpg 2x" alt=""></span>
                            </span>

                            <span class="card__images-pagination">
                                <span class="js-card-image-num is-active"></span>
                                <span class="js-card-image-num"></span>
                                <span class="js-card-image-num"></span>
                                <span class="js-card-image-num"></span>
                                <span class="js-card-image-num"></span>
                            </span>

                            <span class="card__images-handlers">
                                <span class="js-card-image-handler card__image-handler"></span>
                                <span class="js-card-image-handler card__image-handler"></span>
                                <span class="js-card-image-handler card__image-handler"></span>
                                <span class="js-card-image-handler card__image-handler"></span>
                                <span class="js-card-image-handler card__image-handler"></span>
                            </span>
                        </a>

                        <div class="card__badges badges">
                            <div class="badge">мембрана</div>
                        </div>

                        <button class="card__fav" type="button" title="Добавить в избранное">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#fav_icon" />
                            </svg>
                        </button>

                        <a class="card__buy" href="#" title="Добавить в корзину">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#cart_icon" />
                            </svg>
                        </a>
                    </div>

                    <div class="card__bottom">
                        <div class="card__title"><a href="#">Мужской демисезонный бомбер Hamar</a></div>

                        <div class="card__price-block">
                            <div class="card__price">34 900 ₽</div>
                            <div class="card__old-price">54 900 ₽</div>
                            <div class="card__discount">-15%</div>
                        </div>

                        <div class="card__colors">
                            <div class="card__color" style="background-color: #5A785A" title="Зелёный"></div>
                            <div class="card__color" style="background-color: #00487D" title="Синий"></div>
                            <div class="card__color" style="background-color: #B52626" title="Красный"></div>
                            <div class="card__color" style="background-color: #B59B8A" title="Бежевый"></div>
                            <div class="card__color" style="background-color: #4A4A4D" title="Тёмно-серый"></div>
                        </div>
                    </div>
                </div>
            </div>

            <a class="search__result-all button button--primary button--m" href="#">Перейти в каталог</a>
        </div>

        <div class="js-search-result-empty search__result search__result--empty" style="display: none">
            <div class="h2">ПО ЗАПРОСУ «ФУТБОЛКА ДЛЯ ЧУВАКА» ТОВАРОВ НЕ НАЙДЕНО.<br> ПОПРОБУЙТЕ ИЗМЕНИТЬ ВАШ ЗАПРОС</div>
        </div>

        <div class="js-search-loader loader" style="display: none">
            <div class="loader__logo">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#logo_icon" />
                </svg>

                <div class="loader__logo-shade"></div>
            </div>
        </div>
    </div>
</div>