<div class="promo_16 full-width">
    <div class="promo_16__inner container">
        <div class="promo_16__text-block">
            <h2 class="h1">Парка мужская Stavanger</h2>

            <p class="promo_16__title">Модель представлена в четырех цветах</p>

            <div class="promo_16__colors">
                <div class="promo_16__color">
                    <span class="promo_16__color-color" style="background-color: #00487D"></span>
                    <span>голубом</span>
                </div>

                <div class="promo_16__color">
                    <span class="promo_16__color-color" style="background-color: #DEDEDE"></span>
                    <span>сером</span>
                </div>

                <div class="promo_16__color">
                    <span class="promo_16__color-color" style="background-color: #051F32"></span>
                    <span>темно-синем</span>
                </div>

                <div class="promo_16__color">
                    <span class="promo_16__color-color" style="background-color: #E6952F"></span>
                    <span>желтом</span>
                </div>
            </div>

            <p class="promo_16__title">Рекомендуемый температурный режим <br> <span class="h2">от -10 до -35 °C.</span></p>

            <div class="promo_16__text">
                <p>Из расчета средней физической активности и в зависимости от нижнего слоя одежды и индивидуальных особенностей организма.</p>
            </div>

            <a class="button button--primary button--m" href="#">Перейти на страницу товара</a>
        </div>

        <div class="promo_16__image-block">
            <picture>
                <source srcset="images/content/bestseller/promo_16/fhd.jpg, images/content/bestseller/promo_16/fhd@2x.jpg 2x" media="(min-width: 1600px)">
                <source srcset="images/content/bestseller/promo_16/lg.jpg, images/content/bestseller/promo_16/lg@2x.jpg 2x" media="(min-width: 1300px)">
                <source srcset="images/content/bestseller/promo_16/sm.jpg, images/content/bestseller/promo_16/sm@2x.jpg 2x" media="(min-width: 768px)">
                <img src="images/content/bestseller/promo_16/mob.jpg" srcset="images/content/bestseller/promo_16/mob@2x.jpg 2x" alt="">
            </picture>
        </div>
    </div>
</div>