<div class="promo_15 full-width">
    <div class="promo_15__inner container">
        <div class="promo_15__text content-block mid-size">
            <h2>Свободный крой модели позволяет надевать под куртку объемные вещи: вязаные свитеры, утепленные толстовки и пиджаки и чувствовать себя комфортно. Что особенно удобно, когда нужно собраться на работу или зимнюю прогулку с ребёнком.</h2>

            <p>В удлиненной парке будет тепло даже в джинсах или брюках без утепления. Кулиска, расположенная в области талии, дает возможность регулировать объем куртки, делать ее более свободной или прилегающей и носить ее с объемными свитерами и
                тонкими рубашками. В случае тонкого нижнего слоя, чтобы сохранить тепло достаточно будет затянуть кулиску.</p>
        </div>
    </div>

    <picture>
        <source srcset="images/content/bestseller/promo_15/fhd.jpg, images/content/bestseller/promo_15/fhd@2x.jpg 2x" media="(min-width: 1600px)">
        <source srcset="images/content/bestseller/promo_15/lg.jpg, images/content/bestseller/promo_15/lg@2x.jpg 2x" media="(min-width: 1300px)">
        <source srcset="images/content/bestseller/promo_15/sm.jpg, images/content/bestseller/promo_15/sm@2x.jpg 2x" media="(min-width: 768px)">
        <img src="images/content/bestseller/promo_15/mob.jpg" srcset="images/content/bestseller/promo_15/mob@2x.jpg 2x" alt="">
    </picture>
</div>