<div class="promo_13 full-width">
    <div class="container">
        <ul class="breadcrumbs">
            <li class="breadcrumbs__item"><a class="breadcrumbs__link" href="#">Главная</a></li>
            <li class="breadcrumbs__item">Блог</li>
        </ul>

        <div class="promo_13__text">
            <h1>Парка мужская Stavanger</h1>

            <p>Парка аляска - эта модель куртки была создана более 60 лет назад как экипировка для военных США, служивших в суровых погодных условиях. Сегодня она пользуется большой популярностью во всем мире и имеет репутацию куртки, которая отлично
                справляется с экстремально низкими температурами, сильным ветром и влажностью.</p>
        </div>

        <div class="promo_13__image-block">
            <div class="promo_13__image">
                <picture>
                    <source srcset="images/content/bestseller/promo_13/fhd.jpg, images/content/bestsellerbestseller/promo_13/fhd@2x.jpg 2x" media="(min-width: 1600px)">
                    <source srcset="images/content/bestseller/promo_13/lg.jpg, images/content/bestseller/promo_13/lg@2x.jpg 2x" media="(min-width: 1300px)">
                    <source srcset="images/content/bestseller/promo_13/sm.jpg, images/content/bestseller/promo_13/sm@2x.jpg 2x" media="(min-width: 768px)">
                    <img src="images/content/bestseller/promo_13/mob.jpg" srcset="images/content/bestseller/promo_13/mob@2x.jpg 2x" alt="">
                </picture>
            </div>

            <div class="promo_13__cards">
                <div class="promo_13__card">
                    <div class="promo_13__card-image"><img src="images/content/bestseller/promo_13/card_1.jpg" srcset="images/content/bestseller/promo_13/card_1@2x.jpg 2x" alt=""></div>

                    <h4>САМøСøВЕРШЕНСТВø</h4>

                    <p>Профессионализм и постоянное стремление осваивать новые уровни мастерства.</p>
                </div>

                <div class="promo_13__card">
                    <div class="promo_13__card-image"><img src="images/content/bestseller/promo_13/card_2.jpg" srcset="images/content/bestseller/promo_13/card_2@2x.jpg 2x" alt=""></div>

                    <h4>БЕЗøПАСНøСТЬ И ЗАЩИТА</h4>

                    <p>Создание условий для жизни, которые делают жизнь комфортнее и проще в независимости от погодных условий и сезона.</p>
                </div>

                <div class="promo_13__card">
                    <div class="promo_13__card-image"><img src="images/content/bestseller/promo_13/card_3.jpg" srcset="images/content/bestseller/promo_13/card_3@2x.jpg 2x" alt=""></div>

                    <h4>ФУНКЦИøНАЛЬНøСТЬ</h4>

                    <p>Использование всех возможностей, чтобы достигать поставленных целей.</p>
                </div>
            </div>
        </div>
    </div>
</div>