<div class="promo_14">
    <div class="promo_14__inner">
        <div class="promo_14__text content-block mid-size">
            <h2>Глубокий капюшон регулируется по горизонтали и вдоль лица, чтобы обеспечить необходимую степень прилегания, защитить от ветра и холода.</h2>

            <p>Благодаря такой регулировке в капюшоне будет тепло и комфортно даже без шапки. В качестве дополнительного утепления на капюшоне использована отделка из натурального меха енота - густой и теплый, он не пропускает холодный ветер внутрь и
                согревает. В случае необходимости его можно легко отстегнуть, что удобно в условиях переменчивой погоды или смены сезонов. Эластичные манжеты на рукавах защищают от попадания холодного ветра и сохраняют все тепло внутри. Также для
                сохранения тепла и более приятного соприкосновения с телом воротник с внутренней стороны дополнен трикотажным подкладом. Благодаря вшитым внутри лямкам, вы можете снимать куртку в помещении и носить ее на плечах, а не в руках.</p>
        </div>

        <picture>
            <source srcset="images/content/bestseller/promo_14/fhd_3.jpg, images/content/bestseller/promo_14/fhd_3@2x.jpg 2x" media="(min-width: 1300px)">
            <img src="images/content/bestseller/promo_14/mob_3.jpg" srcset="images/content/bestseller/promo_14/mob_3@2x.jpg 2x" alt="">
        </picture>
    </div>
</div>

<div class="promo_14 promo_14--reverse">
    <div class="promo_14__inner">
        <div class="promo_14__text content-block mid-size">
            <h2>Множество функциональных карманов позволит вам разместить в них все самое необходимое и обойтись без сумки.</h2>

            <p>Силиконовый карман, расположенный с внутренней стороны отлично подойдет для документов или телефона. Помимо него внутри есть еще один карман на молнии, а также градусник, который определяет температуру внутри куртки. Снаружи - два
                вместительных накладных кармана с клапанами на кнопках и два кармана с молниями на груди. Парка застегивается на двухзамковую молнию с ветрозащитной планкой на кнопках.</p>

            <h2>Благодаря такой продуманной до мелочей конструкции парка Stavanger станет идеальным защитником от непогоды.</h2>

            <p>Несмотря на множество функциональных деталей модель имеет довольно лаконичный и универсальный дизайн, что позволяет комбинировать ее с вещами в разных стилях: от классического и smart casual до спортивного. Парка аляска Stavanger
                станет беспроигрышным решением для повседневного гардероба и будет одинаково уместна как во время зимних прогулок и путешествий так для городских образов и походов на работу.</p>

            <a class="button button--primary button--m" href="#">Подробнее</a>
        </div>

        <picture>
            <source srcset="images/content/bestseller/promo_14/fhd_4.jpg, images/content/bestseller/promo_14/fhd_4@2x.jpg 2x" media="(min-width: 1300px)">
            <img src="images/content/bestseller/promo_14/mob_4.jpg" srcset="images/content/bestseller/promo_14/mob_4@2x.jpg 2x" alt="">
        </picture>
    </div>
</div>