<div class="promo_14">
    <div class="promo_14__inner">
        <div class="promo_14__text content-block mid-size">
            <h2>Парка аляска Stavanger, утепленная био-пухом DuPont Sorona, согреет вас в самые морозные дни.</h2>

            <p>Технологичный утеплитель из волокна DuPont Sorona - легкий, гипоаллергенный, максимально практичный и комфортный в носке: он не сбивается в комки и равномерно распределяется внутри изделия даже после стирки.</p>

            <p>За защиту от дождя и мокрого снега отвечает ткань верха, обработанная специальной водоотталкивающей пропиткой. Она устойчива к загрязнениям и легко стирается, а благодаря диагональному переплетениею обладает приятной фактурной
                поверхностью.</p>
        </div>

        <picture>
            <source srcset="images/content/bestseller/promo_14/fhd_1.jpg, images/content/bestseller/promo_14/fhd_1@2x.jpg 2x" media="(min-width: 1300px)">
            <img src="images/content/bestseller/promo_14/mob_1.jpg" srcset="images/content/bestseller/promo_14/mob_1@2x.jpg 2x" alt="">
        </picture>
    </div>
</div>

<div class="promo_14 promo_14--reverse">
    <div class="promo_14__inner">
        <div class="promo_14__text content-block mid-size">
            <h2>Для создания комфортного микроклимата внутри использована мембранная ткань.</h2>

            <p>Она спасает от переохлаждения и перегрева, не пропускает ветер и в то же время «дышит». Хорошо отводит пар и влагу, что особенно важно во время физической активности. Сочетание мембранной ткани и современного высокотехнологичного
                утеплителя позволяет чувствовать себя комфортно в разных погодных условиях. Благодаря плотной и гладкой ткани подклада, парку удобно надевать поверх вещей из фактурных материалов: шерсти, флиса и т.д. Свободный крой модели позволяет
                надевать под куртку объемные вещи: вязаные свитеры, утепленные толстовки и пиджаки и чувствовать себя комфортно. Что особенно удобно, когда нужно собраться на работу или зимнюю прогулку с ребёнком.</p>

            <a class="button button--primary button--m" href="#">перейти в каталог</a>
        </div>

        <picture>
            <source srcset="images/content/bestseller/promo_14/fhd_2.jpg, images/content/bestseller/promo_14/fhd_2@2x.jpg 2x" media="(min-width: 1300px)">
            <img src="images/content/bestseller/promo_14/mob_2.jpg" srcset="images/content/bestseller/promo_14/mob_2@2x.jpg 2x" alt="">
        </picture>
    </div>
</div>