<div style="margin-bottom: 60px;">
    <h2>Радио-кнопки размеров</h2>

    <div class="colors-group">
        <label class="color-radio">
            <input type="radio" name="color" value="Синий" checked>
            <span class="color-radio__color" title="Синий" style="background-color:#00487D"></span>
        </label>

        <label class="color-radio">
            <input type="radio" name="color" value="Зелёный">
            <span class="color-radio__color" title="Зелёный" style="background-color:#5A785A"></span>
        </label>

        <label class="color-radio">
            <input type="radio" name="color" value="Красный">
            <span class="color-radio__color" title="Красный" style="background-color:#B52626"></span>
        </label>

        <label class="color-radio">
            <input type="radio" name="color" value="Бежевый">
            <span class="color-radio__color" title="Бежевый" style="background-color:#B59B8A"></span>
        </label>

        <label class="color-radio">
            <input type="radio" name="color" value="Тёмно-серый">
            <span class="color-radio__color" title="Тёмно-серый" style="background-color:#4A4A4D"></span>
        </label>
    </div>
</div>