<div style="margin-bottom: 60px; margin-top: 60px;">
    <h2>Попапы</h2>

    <button class="js-popup-open button button--primary button--s" data-popup="cart_popup_empty" type="button">Пустая корзина</button>

    <br><br>

    <button class="js-popup-open button button--primary button--s" data-popup="add_to_cart" type="button">товар добавлен в корзину</button>

    <br><br>

    <button class="js-popup-open button button--primary button--s" data-popup="auth" type="button">Автøризация</button>

    <br><br>

    <button class="js-popup-open button button--primary button--s" data-popup="auth_code" type="button">Автøризация - ввод кода</button>
</div>