<div style="margin-bottom: 60px; margin-top: 60px;">
    <h2>Попапы</h2>

    <button class="js-popup-open button button--primary button--s" data-popup="cart_popup_empty" type="button">Пустая корзина</button>

    <br><br>

    <button class="js-popup-open button button--primary button--s" data-popup="add_to_cart" type="button">товар добавлен в корзину</button>

    <br><br>

    <button class="js-popup-open button button--primary button--s" data-popup="auth" type="button">Автøризация</button>

    <br><br>

    <button class="js-popup-open button button--primary button--s" data-popup="auth_code" type="button">Автøризация - ввод кода</button>

    <br><br>

    <button class="js-popup-open button button--primary button--s" data-popup="delivery" type="button">Доставка</button>

    <br><br>

    <button class="js-popup-open button button--primary button--s" data-popup="delivery_2" type="button">Доставка - уже есть адреса</button>

    <br><br>

    <button class="js-popup-open button button--primary button--s" data-popup="phone_change_code" type="button">Смена телефона - ввод кода</button>

    <br><br>

    <button class="js-popup-open button button--primary button--s" data-popup="modal_presale" type="button">Модалка PRESALE</button>

    <br><br>

    <button class="js-popup-open button button--primary button--s" data-popup="size_subscribe_thx" type="button">Завершение подписки на размер</button>

    <br><br>

    <button class="js-popup-open button button--primary button--s" data-popup="review_add_thx" type="button">Отзыв отправлен</button>
</div>