<div style="margin-bottom: 60px;">
    <h2>Помокод</h2>

    <div class="promocode">
        <div class="promocode__inner">
            <input class="promocode__input" type="text" placeholder="Введите промокод">

            <button class="promocode__submit" type="button" title="Применить промокод">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#arrow_right" />
                </svg>
            </button>
        </div>
        <div class="promocode__note success">Промокод применен</div>
    </div>

    <br><br>

    <div class="promocode">
        <div class="promocode__inner">
            <input class="promocode__input" type="text" placeholder="Введите промокод">

            <button class="promocode__submit" type="button" title="Применить промокод">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#arrow_right" />
                </svg>
            </button>
        </div>
        <div class="promocode__note error">ой, у нас нет такого промокода</div>
    </div>
</div>