<div style="margin-bottom: 60px;">
    <h2>Радио-кнопки размеров</h2>

    <div class="sizes-group">
        <label class="size-radio">
            <input type="radio" name="size" value="48" checked>
            <span class="size-radio__text">48</span>
        </label>

        <label class="size-radio">
            <input type="radio" name="size" value="50">
            <span class="size-radio__text">50</span>
        </label>

        <label class="size-radio">
            <input type="radio" name="size" value="52">
            <span class="size-radio__text">52</span>
        </label>

        <label class="size-radio">
            <input type="radio" name="size" value="54">
            <span class="size-radio__text">54</span>
        </label>

        <label class="size-radio">
            <input type="radio" name="size" value="56">
            <span class="size-radio__text">56</span>
        </label>

        <label class="size-radio">
            <input type="radio" name="size" value="58">
            <span class="size-radio__text">58</span>
        </label>
    </div>
</div>