<div class="catalog-top">
    <div class="catalog-top__inner">
        <div class="catalog-top__menu">
            <div class="catalog-menu">
                <ul class="catalog-menu__list">
                    <li class="catalog-menu__item">
                        <a class="catalog-menu__link is-active" href="#">Все куртки</a>
                    </li>
                    <li class="catalog-menu__item">
                        <a class="catalog-menu__link" href="#">Аляски</a>
                    </li>
                    <li class="catalog-menu__item">
                        <a class="catalog-menu__link" href="#">парки</a>
                    </li>
                    <li class="catalog-menu__item">
                        <a class="catalog-menu__link" href="#">бомберы</a>
                    </li>
                    <li class="catalog-menu__item">
                        <a class="catalog-menu__link" href="#">пуховики</a>
                    </li>
                    <li class="catalog-menu__item">
                        <a class="catalog-menu__link" href="#">зимние</a>
                    </li>
                    <li class="catalog-menu__item">
                        <a class="catalog-menu__link" href="#">демисезонные</a>
                    </li>
                    <li class="catalog-menu__item">
                        <a class="catalog-menu__link" href="#">кожаные</a>
                    </li>
                    <li class="catalog-menu__item">
                        <a class="catalog-menu__link" href="#">Аляски</a>
                    </li>
                    <li class="catalog-menu__item">
                        <a class="catalog-menu__link" href="#">парки</a>
                    </li>
                    <li class="catalog-menu__item">
                        <a class="catalog-menu__link" href="#">бомберы</a>
                    </li>
                    <li class="catalog-menu__item">
                        <a class="catalog-menu__link" href="#">пуховики</a>
                    </li>
                    <li class="catalog-menu__item">
                        <a class="catalog-menu__link" href="#">зимние</a>
                    </li>
                    <li class="catalog-menu__item">
                        <a class="catalog-menu__link" href="#">демисезонные</a>
                    </li>
                    <li class="catalog-menu__item">
                        <a class="catalog-menu__link" href="#">кожаные</a>
                    </li>
                </ul>
            </div>
        </div>

        <button class="js-popup-open filter-opener" type="button" data-popup="filter">
            <svg aria-hidden="true">
                <use xlink:href="images/sprite.svg#filter_icon" />
            </svg>
            Фильтр
        </button>

        <div class="sorting">
            <button class="sorting__opener" type="button">
                сортировать по
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#chevron_down" />
                </svg>
            </button>

            <div class="sorting__dropdown">
                <label class="radio">
                    <input type="radio" name="sort" value="1" checked>
                    <span class="radio__icon"></span>
                    <span class="radio__text">По умолчанию</span>
                </label>

                <label class="radio">
                    <input type="radio" name="sort" value="2">
                    <span class="radio__icon"></span>
                    <span class="radio__text">По популярности</span>
                </label>

                <label class="radio">
                    <input type="radio" name="sort" value="3">
                    <span class="radio__icon"></span>
                    <span class="radio__text">По возрастанию цены</span>
                </label>

                <label class="radio">
                    <input type="radio" name="sort" value="4">
                    <span class="radio__icon"></span>
                    <span class="radio__text">По убыванию цены</span>
                </label>

                <label class="radio">
                    <input type="radio" name="sort" value="5">
                    <span class="radio__icon"></span>
                    <span class="radio__text">По новизне</span>
                </label>
            </div>
        </div>
    </div>
</div>