<div class="compare__value">
    <div>Верхняя ткань:</div>
    <div>Да</div>
    <div>Да</div>
    <div>Да</div>
    <div>Нет</div>
    <div>Да</div>
    <div>Да</div>
    <div>Да</div>
    <div>Нет</div>
</div>

<div class="compare__value">
    <div>Мембрана:</div>
    <div>Да</div>
    <div>Да</div>
    <div>Да</div>
    <div>Нет</div>
    <div>Да</div>
    <div>Да</div>
    <div>Да</div>
    <div>Нет</div>
</div>

<div class="compare__value">
    <div>Внутренняя ткань:</div>
    <div>-</div>
    <div>-</div>
    <div>-</div>
    <div>Нет</div>
    <div>-</div>
    <div>-</div>
    <div>-</div>
    <div>Нет</div>
</div>

<div class="compare__value">
    <div>Сезон:</div>
    <div>-</div>
    <div>-</div>
    <div>-</div>
    <div>Нет</div>
    <div>-</div>
    <div>-</div>
    <div>-</div>
    <div>Нет</div>
</div>

<div class="compare__value">
    <div>Плотность утеплителя (г):</div>
    <div>Да</div>
    <div>Да</div>
    <div>Да</div>
    <div>Нет</div>
    <div>Да</div>
    <div>Да</div>
    <div>Да</div>
    <div>Нет</div>
</div>

<div class="compare__value">
    <div>Температурный режим:</div>
    <div>Да</div>
    <div>Да</div>
    <div>Да</div>
    <div>Нет</div>
    <div>Да</div>
    <div>Да</div>
    <div>Да</div>
    <div>Нет</div>
</div>

<div class="compare__value">
    <div>Капюшон:</div>
    <div>-</div>
    <div>-</div>
    <div>-</div>
    <div>Нет</div>
    <div>-</div>
    <div>-</div>
    <div>-</div>
    <div>Нет</div>
</div>

<div class="compare__value">
    <div>Вид застежки:</div>
    <div>-</div>
    <div>-</div>
    <div>-</div>
    <div>Нет</div>
    <div>-</div>
    <div>-</div>
    <div>-</div>
    <div>Нет</div>
</div>

<div class="compare__value">
    <div>Силуэт:</div>
    <div>Да</div>
    <div>Да</div>
    <div>Да</div>
    <div>Нет</div>
    <div>Да</div>
    <div>Да</div>
    <div>Да</div>
    <div>Нет</div>
</div>

<div class="compare__value">
    <div>Вид рукава:</div>
    <div>Да</div>
    <div>Да</div>
    <div>Да</div>
    <div>Нет</div>
    <div>Да</div>
    <div>Да</div>
    <div>Да</div>
    <div>Нет</div>
</div>

<div class="compare__value">
    <div>Наличие опушки:</div>
    <div>-</div>
    <div>-</div>
    <div>-</div>
    <div>Нет</div>
    <div>-</div>
    <div>-</div>
    <div>-</div>
    <div>Нет</div>
</div>

<div class="compare__value">
    <div>Внутренние карманы (кол‑во):</div>
    <div>-</div>
    <div>-</div>
    <div>-</div>
    <div>Нет</div>
    <div>-</div>
    <div>-</div>
    <div>-</div>
    <div>Нет</div>
</div>

<div class="compare__value">
    <div>Внешние карманы (кол‑во):</div>
    <div>Да</div>
    <div>Да</div>
    <div>Да</div>
    <div>Нет</div>
    <div>Да</div>
    <div>Да</div>
    <div>Да</div>
    <div>Нет</div>
</div>

<div class="compare__value">
    <div>Пол:</div>
    <div>Да</div>
    <div>Да</div>
    <div>Да</div>
    <div>Нет</div>
    <div>Да</div>
    <div>Да</div>
    <div>Да</div>
    <div>Нет</div>
</div>