<div class="promo_5 full-width">
    <a class="promo_5__block" href="#">
        <h2 class="h1">мужчинам</h2>

        <picture>
            <source srcset="images/content/brand/promo_5/fhd_1.jpg, images/content/brand/promo_5/fhd_1@2x.jpg 2x" media="(min-width: 1600px)">
            <source srcset="images/content/brand/promo_5/lg_1.jpg, images/content/brand/promo_5/lg_1@2x.jpg 2x" media="(min-width: 1300px)">
            <source srcset="images/content/brand/promo_5/sm_1.jpg, images/content/brand/promo_5/sm_1@2x.jpg 2x" media="(min-width: 768px)">
            <img src="images/content/brand/promo_5/mob_1.jpg" srcset="images/content/brand/promo_5/mob_1@2x.jpg 2x" alt="">
        </picture>
    </a>

    <a class="promo_5__block" href="#">
        <h2 class="h1">женщинам</h2>

        <picture>
            <source srcset="images/content/brand/promo_5/fhd_2.jpg, images/content/brand/promo_5/fhd_2@2x.jpg 2x" media="(min-width: 1600px)">
            <source srcset="images/content/brand/promo_5/lg_2.jpg, images/content/brand/promo_5/lg_2@2x.jpg 2x" media="(min-width: 1300px)">
            <source srcset="images/content/brand/promo_5/sm_2.jpg, images/content/brand/promo_5/sm_2@2x.jpg 2x" media="(min-width: 768px)">
            <img src="images/content/brand/promo_5/mob_2.jpg" srcset="images/content/brand/promo_5/mob_2@2x.jpg 2x" alt="">
        </picture>
    </a>
</div>