<div class="promo_4 full-width">
    <div class="promo_4__inner container">
        <div class="promo_4__text">
            <h2 class="h1">Команда Bjørn&nbsp;Larsen</h2>
            <p>
                Команда BJORN LARSEN – профессионалы своего дела с многолетним опытом в фэшн-ритейле. Наши специалисты используют инновационные идеи в изготовлении верхней одежды, способной обеспечить максимальный комфорт в вашем привычном образе
                жизни каждый день, в любых погодных условиях.<br> Куртки BJORN LARSEN – это гарантия качества и долгий срок службы.
            </p>
        </div>

        <picture>
            <source srcset="images/content/brand/promo_4/fhd_1.jpg, images/content/brand/promo_4/fhd_1@2x.jpg 2x" media="(min-width: 1600px)">
            <source srcset="images/content/brand/promo_4/lg_1.jpg, images/content/brand/promo_4/lg_1@2x.jpg 2x" media="(min-width: 1300px)">
            <source srcset="images/content/brand/promo_4/sm_1.jpg, images/content/brand/promo_4/sm_1@2x.jpg 2x" media="(min-width: 768px)">
            <img src="images/content/brand/promo_4/mob_1.jpg" srcset="images/content/brand/promo_4/mob_1@2x.jpg 2x" alt="">
        </picture>
    </div>
</div>

<div class="promo_4 full-width">
    <div class="promo_4__inner container">
        <div class="promo_4__text">
            <h2 class="h1">Прøизвøдствø</h2>
            <p>Вся продукция разрабатывается и создается с заботой о людях и постоянным совершенствованием всех этапов производства. Создавая одежду для города и активного отдыха, мы соблюдаем самые высокие стандарты качества.</p>
            <p>Наши куртки изготовлены из мембранной ткани нового поколения CONFIDENCE с использованием фурнитуры премиального качества, высокотехнологичного утеплителя DuPont Sorona и отделки из натуральной кожи и меха.</p>
        </div>

        <picture>
            <source srcset="images/content/brand/promo_4/fhd_2.jpg, images/content/brand/promo_4/fhd_2@2x.jpg 2x" media="(min-width: 1600px)">
            <source srcset="images/content/brand/promo_4/lg_2.jpg, images/content/brand/promo_4/lg_2@2x.jpg 2x" media="(min-width: 1300px)">
            <source srcset="images/content/brand/promo_4/sm_2.jpg, images/content/brand/promo_4/sm_2@2x.jpg 2x" media="(min-width: 768px)">
            <img src="images/content/brand/promo_4/mob_2.jpg" srcset="images/content/brand/promo_4/mob_2@2x.jpg 2x" alt="">
        </picture>
    </div>
</div>

<div class="promo_4 full-width">
    <div class="promo_4__inner container">
        <div class="promo_4__text">
            <h2 class="h1">Комьюнити Bjørn&nbsp;Larsen</h2>
            <p>BJORN LARSEN – не только бренд, но и комьюнити людей, в основе которого лежит идея о взаимопомощи, заботе об окружающих и стремлении оттачивать мастерство в своем деле. Герои BJORNа – это люди самых разных профессий: врачи,
                преподаватели, спасатели, воспитатели, путешественники, спортсмены и пр. Те люди, кто своей работой приносит окружающему миру пользу и заботу о других. Брать новые высоты, не останавливаться на достигнутом и вдохновлять других своими
                победами - их жизненные ценности.</p>
        </div>

        <picture>
            <source srcset="images/content/brand/promo_4/fhd_3.jpg, images/content/brand/promo_4/fhd_3@2x.jpg 2x" media="(min-width: 1600px)">
            <source srcset="images/content/brand/promo_4/lg_3.jpg, images/content/brand/promo_4/lg_3@2x.jpg 2x" media="(min-width: 1300px)">
            <source srcset="images/content/brand/promo_4/sm_3.jpg, images/content/brand/promo_4/sm_3@2x.jpg 2x" media="(min-width: 768px)">
            <img src="images/content/brand/promo_4/mob_3.jpg" srcset="images/content/brand/promo_4/mob_3@2x.jpg 2x" alt="">
        </picture>
    </div>
</div>