<div class="promo_6">
    <div class="promo_6__inner">
        <h2>НОВАЯ КАПСУЛЬНАЯ КОЛЛЕКЦИЯ, КОТОРАЯ НАПОМИНАЕТ О ТОМ, ЧТО&nbsp;зима — УЖЕ СОВСЕМ РЯДОМ.</h2>
        <div class="promo_6__text">
            <p>Кожаную куртку можно смело назвать незаменимым предметом базового женского гардероба. Дизайнеры каждый модный сезон представляют ее на подиумах все в новых интерпретациях. Кто-то отдает предпочтение базовым моделям, а некоторые дают
                волю фантазии и создают яркие тренды. В любом случае без кожаной куртки не обходится ни один модный показ. В этой статье мы расскажем про главные тренды модных кожаных курток 2024. А также — какую выбрать и с чем ее носить.</p>
            <p>В любом случае без кожаной куртки не обходится ни один модный показ. В этой статье мы расскажем про главные тренды модных кожаных курток 2024.</p>
        </div>
    </div>
</div>