<div class="promo_8">
    <div class="card card--collection">
        <div class="card__top">
            <a class="card__image" href="#">
                <span class="card__images">
                    <span class="card__image-item is-active">
                        <picture>
                            <source srcset="images/content/collection/promo_8/card_3_fhd.jpg, images/content/collection/promo_8/card_3_fhd.jpg2x" media="(min-width: 1600px)">
                            <source srcset="images/content/collection/promo_8/card_3_lg.jpg, images/content/collection/promo_8/card_3_lg.jpg2x" media="(min-width: 1300px)">
                            <source srcset="images/content/collection/promo_8/card_3_sm.jpg, images/content/collection/promo_8/card_3_sm.jpg2x" media="(min-width: 768px)">
                            <img src="images/content/collection/promo_8/card_3_mob.jpg" srcset="images/content/collection/promo_8/card_3_mob@2x.jpg 2x" alt="">
                        </picture>
                    </span>
                </span>
            </a>

            <div class="card__badges badges">
                <div class="badge">натуральный пух</div>
            </div>

            <button class="card__fav" type="button" title="Добавить в избранное">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#fav_icon" />
                </svg>
            </button>

            <a class="js-buy-button card__buy" href="#" title="Добавить в корзину">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#cart_icon" />
                </svg>
            </a>

            <div class="card__sizes">
                <div class="card__sizes-title">выберите размер</div>

                <div class="card__sizes-list">
                    <div class="sizes-group">
                        <label class="size-radio">
                            <input type="radio" name="size" value="48">
                            <span class="size-radio__text">48</span>
                        </label>

                        <label class="size-radio">
                            <input type="radio" name="size" value="50">
                            <span class="size-radio__text">50</span>
                        </label>

                        <label class="size-radio">
                            <input type="radio" name="size" value="52">
                            <span class="size-radio__text">52</span>
                        </label>

                        <label class="size-radio">
                            <input type="radio" name="size" value="54">
                            <span class="size-radio__text">54</span>
                        </label>

                        <label class="size-radio">
                            <input type="radio" name="size" value="56">
                            <span class="size-radio__text">56</span>
                        </label>

                        <label class="size-radio">
                            <input type="radio" name="size" value="58">
                            <span class="size-radio__text">58</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="card__bottom">
            <div class="card__title"><a href="#">Мужской демисезонный бомбер Hamar</a></div>

            <div class="card__price-block">
                <div class="card__price">34 900 <span class="rub">руб</span></div>
                <div class="card__old-price">54 900 <span class="rub">руб</span></div>
                <div class="card__discount">-15%</div>
            </div>
        </div>
    </div>
</div>