<div class="promo_11 full-width">
    <div class="container">
        <div class="promo_11__section">
            <div class="promo_11__image">
                <picture>
                    <source srcset="images/content/main/promo_11/fhd_1.jpg, images/content/main/promo_11/fhd_1@2x.jpg 2x" media="(min-width: 1600px)">
                    <source srcset="images/content/main/promo_11/lg_1.jpg, images/content/main/promo_11/lg_1@2x.jpg 2x" media="(min-width: 1300px)">
                    <source srcset="images/content/main/promo_11/sm_1.jpg, images/content/main/promo_11/sm_1@2x.jpg 2x" media="(min-width: 768px)">
                    <img src="images/content/main/promo_11/mob_1.jpg" srcset="images/content/main/promo_11/mob_1@2x.jpg 2x" alt="">
                </picture>

                <div class="promo_11__text-block">
                    <h2 class="h1"><small class="h2">Для</small> активнøгø øтдыха</h2>

                    <a class="button button--primary button--m" href="#">Технология</a>
                </div>
            </div>

            <div class="promo_11__card">
                <div class="promo_11__card-image">
                    <img src="images/content/main/promo_11/card_1.jpg" srcset="images/content/main/promo_11/card_1@2x.jpg 2x" alt="">
                </div>

                <h4>СONFIDENCE ®</h4>

                <p>Мембранные ткани обеспечивают максимальный комфорт в самых экстремальных условиях холода.</p>
            </div>

            <div class="promo_11__card">
                <div class="promo_11__card-image">
                    <img src="images/content/main/promo_11/card_2.jpg" srcset="images/content/main/promo_11/card_2@2x.jpg 2x" alt="">
                </div>

                <h4>МЕХ ЦЕЛЬНОГО ЕНОТА</h4>

                <p>Не только стильное украшение, но и дополнительная защита от ветра и холода.</p>
            </div>
        </div>

        <div class="promo_11__section">
            <div class="promo_11__image">
                <picture>
                    <source srcset="images/content/main/promo_11/fhd_2.jpg, images/content/main/promo_11/fhd_2@2x.jpg 2x" media="(min-width: 1600px)">
                    <img src="images/content/main/promo_11/lg_2.jpg" srcset="images/content/main/promo_11/lg_2@2x.jpg 2x" alt="">
                </picture>

                <div class="promo_11__text-block">
                    <h2 class="h1"><small class="h2">Для</small> гøрøдскøй<br> среды</h2>

                    <a class="button button--primary button--m" href="#">Технология</a>
                </div>
            </div>

            <div class="promo_11__card">
                <div class="promo_11__card-image">
                    <img src="images/content/main/promo_11/card_3.jpg" srcset="images/content/main/promo_11/card_3@2x.jpg 2x" alt="">
                </div>

                <h4>МЕМБРАНА PD\WR\TPU</h4>

                <p>Помимо стильного внешнего вида, куртки-аляски выполнены из уникальных мембранных тканей. Это один из самых качественных защитных слоев одежды.</p>
            </div>

            <div class="promo_11__card">
                <div class="promo_11__card-image">
                    <img src="images/content/main/promo_11/card_4.jpg" srcset="images/content/main/promo_11/card_4@2x.jpg 2x" alt="">
                </div>

                <h4>DUPONT SORONA ®</h4>

                <p>Это новейший гипоаллергенный материал, который не требует химчистки, стирается в стиральной машине и выдерживает низкие температуры.</p>
            </div>
        </div>

        <div class="promo_11__cards">
            <div class="promo_11__card">
                <div class="promo_11__card-image">
                    <img src="images/content/main/promo_11/card_1.jpg" srcset="images/content/main/promo_11/card_1@2x.jpg 2x" alt="">
                </div>

                <h4>СONFIDENCE ®</h4>

                <p>Мембранные ткани обеспечивают максимальный комфорт в самых экстремальных условиях холода.</p>
            </div>

            <div class="promo_11__card">
                <div class="promo_11__card-image">
                    <img src="images/content/main/promo_11/card_2.jpg" srcset="images/content/main/promo_11/card_2@2x.jpg 2x" alt="">
                </div>

                <h4>МЕХ ЦЕЛЬНОГО ЕНОТА</h4>

                <p>Не только стильное украшение, но и дополнительная защита от ветра и холода.</p>
            </div>

            <div class="promo_11__card">
                <div class="promo_11__card-image">
                    <img src="images/content/main/promo_11/card_3.jpg" srcset="images/content/main/promo_11/card_3@2x.jpg 2x" alt="">
                </div>

                <h4>МЕМБРАНА PD\WR\TPU</h4>

                <p>Помимо стильного внешнего вида, куртки-аляски выполнены из уникальных мембранных тканей. Это один из самых качественных защитных слоев одежды.</p>
            </div>

            <div class="promo_11__card">
                <div class="promo_11__card-image">
                    <img src="images/content/main/promo_11/card_4.jpg" srcset="images/content/main/promo_11/card_4@2x.jpg 2x" alt="">
                </div>

                <h4>DUPONT SORONA ®</h4>

                <p>Это новейший гипоаллергенный материал, который не требует химчистки, стирается в стиральной машине и выдерживает низкие температуры.</p>
            </div>
        </div>
    </div>
</div>