<div class="promo_10 full-width">
    <div class="js-promo-10-slider swiper" data-pager="promo_10" data-arrows="promo_10">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="banner banner--type_3 banner--shadow_bottom banner--shadow_top banner--lg_full_height full-width">
                    <picture>
                        <source srcset="images/content/collection/banner/fhd.jpg, images/content/collection/banner/fhd@2x.jpg 2x" media="(min-width: 1600px)">
                        <source srcset="images/content/collection/banner/lg.jpg, images/content/collection/banner/lg@2x.jpg 2x" media="(min-width: 1300px)">
                        <source srcset="images/content/collection/banner/sm.jpg, images/content/collection/banner/sm@2x.jpg 2x" media="(min-width: 768px)">
                        <img src="images/content/collection/banner/mob.jpg" srcset="images/content/collection/banner/mob@2x.jpg 2x" alt="">
                    </picture>

                    <div class="banner__inner container">

                        <p class="h2">Нøвая кøллекция</p>

                        <p class="h1">premium apparel</p>
                    </div>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="banner banner--type_3 banner--shadow_bottom banner--shadow_top banner--lg_full_height full-width">
                    <picture>
                        <source srcset="images/content/collection/banner/fhd.jpg, images/content/collection/banner/fhd@2x.jpg 2x" media="(min-width: 1600px)">
                        <source srcset="images/content/collection/banner/lg.jpg, images/content/collection/banner/lg@2x.jpg 2x" media="(min-width: 1300px)">
                        <source srcset="images/content/collection/banner/sm.jpg, images/content/collection/banner/sm@2x.jpg 2x" media="(min-width: 768px)">
                        <img src="images/content/collection/banner/mob.jpg" srcset="images/content/collection/banner/mob@2x.jpg 2x" alt="">
                    </picture>

                    <div class="banner__inner container">

                        <p class="h2">Нøвая кøллекция</p>

                        <p class="h1">premium apparel</p>
                    </div>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="banner banner--type_3 banner--shadow_bottom banner--shadow_top banner--lg_full_height full-width">
                    <picture>
                        <source srcset="images/content/collection/banner/fhd.jpg, images/content/collection/banner/fhd@2x.jpg 2x" media="(min-width: 1600px)">
                        <source srcset="images/content/collection/banner/lg.jpg, images/content/collection/banner/lg@2x.jpg 2x" media="(min-width: 1300px)">
                        <source srcset="images/content/collection/banner/sm.jpg, images/content/collection/banner/sm@2x.jpg 2x" media="(min-width: 768px)">
                        <img src="images/content/collection/banner/mob.jpg" srcset="images/content/collection/banner/mob@2x.jpg 2x" alt="">
                    </picture>

                    <div class="banner__inner container">

                        <p class="h2">Нøвая кøллекция</p>

                        <p class="h1">premium apparel</p>
                    </div>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="banner banner--type_3 banner--shadow_bottom banner--shadow_top banner--lg_full_height full-width">
                    <picture>
                        <source srcset="images/content/collection/banner/fhd.jpg, images/content/collection/banner/fhd@2x.jpg 2x" media="(min-width: 1600px)">
                        <source srcset="images/content/collection/banner/lg.jpg, images/content/collection/banner/lg@2x.jpg 2x" media="(min-width: 1300px)">
                        <source srcset="images/content/collection/banner/sm.jpg, images/content/collection/banner/sm@2x.jpg 2x" media="(min-width: 768px)">
                        <img src="images/content/collection/banner/mob.jpg" srcset="images/content/collection/banner/mob@2x.jpg 2x" alt="">
                    </picture>

                    <div class="banner__inner container">

                        <p class="h2">Нøвая кøллекция</p>

                        <p class="h1">premium apparel</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="swiper-pagination" data-pager="promo_10"></div>

        <button class="swiper-button-prev" type="button" data-arrows="promo_10" title="Назад">
            <svg aria-hidden="true">
                <use xlink:href="images/sprite.svg#chevron_left" />
            </svg>
        </button>

        <button class="swiper-button-next" type="button" data-arrows="promo_10" title="Вперёд">
            <svg aria-hidden="true">
                <use xlink:href="images/sprite.svg#chevron_right" />
            </svg>
        </button>
    </div>
</div>