<div class="promo_12">
    <h2 class="h1">герøи Bjørn larsen</h2>

    <div class="heroes-slider">
        <div class="heroes-slider__middle">

            <div class="heroes-slider__text">
                <p>Здесь собраны только некоторые из людей, которых мы уважаем, которыми мы восхищаемся и гордимся. Они красивы, смелы, умны и уникальны – и мы горды тем, что они выбрали Bjorn Larsen для себя.</p>
            </div>

            <div class="heroes-slider__logo-block">
                <svg class="heroes-slider__logo" aria-hidden="true">
                    <use xlink:href="images/sprite.svg#logo_icon"></use>
                </svg>

                <button class="heroes-slider__prev" type="button" title="Назад">
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#chevron_left" />
                    </svg>
                </button>

                <button class="heroes-slider__next" type="button" title="Вперёд">
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#chevron_right" />
                    </svg>
                </button>
            </div>

            <a class="heroes-slider__button button button--primary button--m" href="#">Все герои</a>
        </div>

        <div class="heroes-slider__list">
            <div class="heroes-slider__slide">
                <a class="heroes-slider__slide-link" href="#">
                    <span class="heroes-slider__slide-image">
                        <img src="images/content/main/promo_12/img_1.jpg" srcset="images/content/main/promo_12/img_1@2x.jpg 2x" alt="">
                    </span>
                    <span class="heroes-slider__slide-title">KRISTIN ERIKSON</span>
                </a>
            </div>
            <div class="heroes-slider__slide">
                <a class="heroes-slider__slide-link" href="#">
                    <span class="heroes-slider__slide-image">
                        <img src="images/content/main/promo_12/img_2.jpg" srcset="images/content/main/promo_12/img_2@2x.jpg 2x" alt="">
                    </span>
                    <span class="heroes-slider__slide-title">KRISTIN ERIKSON</span>
                </a>
            </div>
            <div class="heroes-slider__slide">
                <a class="heroes-slider__slide-link" href="#">
                    <span class="heroes-slider__slide-image">
                        <img src="images/content/main/promo_12/img_2.jpg" srcset="images/content/main/promo_12/img_2@2x.jpg 2x" alt="">
                    </span>
                    <span class="heroes-slider__slide-title">KRISTIN ERIKSON</span>
                </a>
            </div>
            <div class="heroes-slider__slide">
                <a class="heroes-slider__slide-link" href="#">
                    <span class="heroes-slider__slide-image">
                        <img src="images/content/main/promo_12/img_1.jpg" srcset="images/content/main/promo_12/img_1@2x.jpg 2x" alt="">
                    </span>
                    <span class="heroes-slider__slide-title">KRISTIN ERIKSON</span>
                </a>
            </div>
            <div class="heroes-slider__slide">
                <a class="heroes-slider__slide-link" href="#">
                    <span class="heroes-slider__slide-image">
                        <img src="images/content/main/promo_12/img_1.jpg" srcset="images/content/main/promo_12/img_1@2x.jpg 2x" alt="">
                    </span>
                    <span class="heroes-slider__slide-title">KRISTIN ERIKSON</span>
                </a>
            </div>
            <div class="heroes-slider__slide">
                <a class="heroes-slider__slide-link" href="#">
                    <span class="heroes-slider__slide-image">
                        <img src="images/content/main/promo_12/img_2.jpg" srcset="images/content/main/promo_12/img_2@2x.jpg 2x" alt="">
                    </span>
                    <span class="heroes-slider__slide-title">KRISTIN ERIKSON</span>
                </a>
            </div>
            <div class="heroes-slider__slide">
                <a class="heroes-slider__slide-link" href="#">
                    <span class="heroes-slider__slide-image">
                        <img src="images/content/main/promo_12/img_2.jpg" srcset="images/content/main/promo_12/img_2@2x.jpg 2x" alt="">
                    </span>
                    <span class="heroes-slider__slide-title">KRISTIN ERIKSON</span>
                </a>
            </div>
            <div class="heroes-slider__slide">
                <a class="heroes-slider__slide-link" href="#">
                    <span class="heroes-slider__slide-image">
                        <img src="images/content/main/promo_12/img_1.jpg" srcset="images/content/main/promo_12/img_1@2x.jpg 2x" alt="">
                    </span>
                    <span class="heroes-slider__slide-title">KRISTIN ERIKSON</span>
                </a>
            </div>
        </div>
    </div>
</div>