<div class="subscribe full-width">
    <picture>
        <source srcset="images/content/main/subscribe/fhd.jpg, images/content/main/subscribe/fhd@2x.jpg 2x" media="(min-width: 1600px)">
        <source srcset="images/content/main/subscribe/lg.jpg, images/content/main/subscribe/lg@2x.jpg 2x" media="(min-width: 1300px)">
        <source srcset="images/content/main/subscribe/sm.jpg, images/content/main/subscribe/sm@2x.jpg 2x" media="(min-width: 768px)">
        <img src="images/content/main/subscribe/mob.jpg" srcset="images/content/main/subscribe/mob@2x.jpg 2x" alt="">
    </picture>

    <div class="subscribe__form-block">
        <h2>Подпишитесь на новости<br> и получите скидку 10% на первый заказ</h2>

        <form class="subscribe__form" action="">
            <input class="subscribe__input" type="text" name="" value="" placeholder="Ваш e-mail *">

            <button class="subscribe__submit" type="submit" title="Подписаться">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#arrow_right" />
                </svg>
            </button>
        </form>

        <p class="subscribe__note">Нажимая кнопку, Вы соглашаетесь с условиями политики конфиденциальности</p>
    </div>
</div>