<h2>МØЙ ПРØФИЛЬ</h2>

<ul class="left-menu">
    <li class="left-menu__item">
        <a class="left-menu__link is-active" href="#">Мои данные</a>
    </li>

    <li class="left-menu__item">
        <a class="left-menu__link" href="#">Избранное</a>
    </li>

    <li class="left-menu__item">
        <a class="left-menu__link" href="#">Мои заказы</a>
    </li>

    <li class="left-menu__item">
        <a class="left-menu__link" href="#">Выход</a>
    </li>
</ul>

<div class="contacts-block">
    <h3>У ВАС ОСТАЛИСЬ ВОПРОСЫ?</h3>

    <div class="socials">
        <a class="social-link" href="#" rel="nofollow noreferrer" title="Мы в Telegram">
            <svg aria-hidden="true">
                <use xlink:href="images/sprite.svg#tg_icon" />
            </svg>
        </a>

        <a class="social-link" href="#" rel="nofollow noreferrer" title="Наш Whatsapp">
            <svg aria-hidden="true">
                <use xlink:href="images/sprite.svg#whatsapp_icon" />
            </svg>
        </a>

        <a class="social-link" href="mailto:info@larsenbjorn.ru" rel="nofollow noreferrer" title="Написать нам">
            <svg aria-hidden="true">
                <use xlink:href="images/sprite.svg#envelope_icon" />
            </svg>
        </a>

        <a class="social-link" href="tel:+78003007828" rel="nofollow noreferrer" title="Позвонить нам">
            <svg aria-hidden="true">
                <use xlink:href="images/sprite.svg#phone_icon" />
            </svg>
        </a>
    </div>
</div>